[2014-07-31 10:28] programmingthomas opened #2 "Use NSNumber literal instead of NSString literal"
Currently in the UIColor class extension there are some [class methods](https://github.com/VAlexander/Chameleon/blob/master/Chameleon/UIColor%2BChameleon.m#L660) that return arrays of numbers representing RGB values for the flat colors. Currently these methods return arrays of strings:

[code]

Which are then [casted to NSNumber instances](https://github.com/VAlexander/Chameleon/blob/master/Chamel

[2014-07-31 22:48] #2 closed, assigned to nobody

[2014-08-01 11:13] romanr opened #3 "Set up UIAppearance globally?"
I read through documentation twice and there's no mention of setting global UIAppearance.
I'd like to set colors once in AppDelegate globally and not insert 'set color' into each and every one view controller.

What is the best practice for setting global UIAppearance or is there an example?

[2014-08-01 12:12] dblock opened #4 "Consider porting into EDColor"
So not all color libraries are created equal :) Notably https://github.com/thisandagain/color has a lot of overlap with Chameleon, with many other color palettes - you might want to check it out.

[2014-08-01 12:27] #4 closed, assigned to nobody

[2014-08-01 19:46] Azy-dev opened #5 "Switch to HSB colors"
In my opinion it is better to use HSB colors as they are closer to human eye perception than RGB. When you have a distance between 2 colors it is more likely that their appearance is closer in HSB color space than in RGB.

[2014-08-22 08:06] #5 closed, assigned to nobody

[2014-08-22 13:15] romanr opened #7 "Chameleon 1.1.0 broke colorWithContrastingBlackOrWhiteColorOn"
colorWithContrastingBlackOrWhiteColorOn in 1.1.0 no longer producing contrasting colors, returns color exactly matching the color passed as parameter.

[2014-08-23 19:54] #7 closed, assigned to vicc

[2014-08-26 03:55] benjaminhallock opened #8 "GRADIENTSTYLE NOT SELF EXPLANITORY"
USUALLY THE INPUT OF A CERTAIN VARIABLE LIKE "GRADIENTSTYLE" STARTS WITH THE WORD "GRADIENTSTYLE" INSTEAD OF JUST "LINEARLEFTTORIGHT"

[2014-09-02 03:48] #8 closed, assigned to nobody

[2014-09-27 14:02] rmzr7 opened #9 "Update for iOS 8?"
And Xcode 6

[2014-09-28 10:36] #9 closed, assigned to nobody

[2014-10-14 22:48] deanq opened #10 "Swift: NSArray(ofColorsWithColorScheme: , for: , flatScheme: ) does not build"
`let kColorTheme = NSArray(ofColorsWithColorScheme: ColorSchemeComplementary, for: UIColor.redColor(), flatScheme: true)` will never pass Xcode for Swift. It keeps blocking errors:
- Expected expression in list of expressions
- Expected ',' separator

Is `for:` a forbidden parameter keyword in Swift?

[2015-01-02 02:18] VAlexander commented on #10
Hi guys! Been super busy these past few weeks, but I definitely want to look into this. I haven't dwelled into swift yet, but something tells me @deanq may be on to something. If anyone wants to pitch in or submit a pull request, I'd be happy to accept it. In the mean time I'll try to figure this out! Thanks for using Chameleon and I hope it's been useful :smiley:

[2015-01-25 06:24] VAlexander commented on #10
This issue has been fixed in 21230b0. Shoutouts to @sfader! :+1:

[2015-01-25 06:24] #10 closed

[2015-01-27 23:20] Mackarous opened #12 "+ (NSArray *)arrayOfColorsWithColorScheme:(ColorScheme)colorScheme for:(UIColor *)color flatScheme:(BOOL)isFlatScheme;"
It seems to me that the compiler is looking for the method:

[code]

but the method, found in **NSArray+Chameleon.h/m** is the following:

[code]

(*with* should be *for*)

[2015-01-27 23:22] Mackarous commented on #12
Whoops! I just realized this was apparently fixed 3 days ago! But when I pulled master today, I still had the same issue.

(https://github.com/VAlexander/Chameleon/commit/21230b0357f456d1c9a29deb4cd4aa11c2eb3999)

[2015-01-28 00:29] VAlexander commented on #12
Hi @Mackarous! Thanks for looking into this. Just to make sure I understand correctly, you're using the latest version of Chameleon in your swift project, but it won't compile because it is still using the old ```+ (NSArray *)arrayOfColorsWithColorScheme:(ColorScheme)colorScheme for:(UIColor *)color flatScheme:(BOOL)isFlatScheme;``` method?

I'm updating the example project now to properly call th

[2015-01-28 03:59] VAlexander commented on #12
Just updated the example project to reflect the recent changes. I also went back in and rather than completely obliterate the old method, I simply deprecated it, in favor of:

[code]

Just updated cocoapods as well to 1.1.2. Everything should be working now. If you have any problems, feel free to open up a new issue.

[2015-01-28 03:59] #12 closed

[2015-02-04 20:09] sadaqata opened #13 "Unexpected results with GradientColor"
[[UINavigationBar appearance] setBarTintColor:GradientColor(UIGradientStyleLeftToRight,
                                                                    CGRectMake(0, 0, 1024, 64),
                                                                    (@[FlatGreenDark, FlatGreen]))];

The result is a dark gray navigation bar.

[2015-02-05 03:46] VAlexander commented on #13
Hi @sadaqata.

I may be wrong, but it seems like you may be attempting to perform this in a view controller. Just to make sure, try setting the ```barTintColor``` to something basic such as: ```[UIColor redColor];``` If you still see a dark gray navigation bar (I'm assuming this is the default ```navigationBar``` color), then my suspicions may be correct.

Instead what you want to do is set this e

[2015-02-09 03:57] imdevin567 opened #14 "Chameleon Shorthand in Swift"
Is it possible to use the chameleon shorthand in Swift? It doesn't seem to be autocompleting in Xcode.

I installed the latest version using CocoaPods and added Chameleon/Chameleon.h to my bridging header.

[2015-02-10 09:56] VAlexander commented on #14
Supp @imdevin567

Unfortunately, Objective-C macros don't really have a counterpart in Swift. Instead, [Apple recommends using global constants in place of simple macros and functions and generics for more complicated stuff](https://developer.apple.com/library/ios/documentation/Swift/Conceptual/BuildingCocoaApps/InteractingWithCAPIs.html#//apple_ref/doc/uid/TP40014216-CH8-XID_20). In our case, the

[2015-02-10 09:59] #13 closed

[2015-03-01 20:52] Mackarous commented on #12
Hey I totally didn't get any notifications over this. Just wanted to say thanks a lot! Looks great. I am not using cocoa pods right now as my project is in swift.

[2015-03-12 05:51] #14 closed

[2015-03-20 07:28] alist opened #18 "Retina gradient rendering for supported devices"
I was having a 1-pixel wrap around from bottom to top for certain UIColors generated by
[code]

I resolved it locally by having the UIGraphics context use the current screen's scale
[code]

Take a look at this diff:
https://github.com/VAlexander/Chameleon/compare/master...alist:master#diff-d75ec200ce59d4e5a90a77e80cc5af5d

[2015-03-23 02:09] VAlexander commented on #18
Aah. Smart. Definitely an improvement. Thanks @alist! :sunglasses:

[2015-03-23 02:09] #18 closed

[2015-03-26 10:40] remzr7 opened #20 "IBdesignable class for setting colors via storyboard?"

[2015-03-26 11:24] beeth0ven commented on #20
Yes,Lecture 5 and 6 teaches us the method,You can downloads the project <Happiness L6.zip> to see.
http://web.stanford.edu/class/cs193p/cgi-bin/drupal/

[2015-03-27 18:03] Amol07 opened #22 "Problem when device orientation changes"
I've uploaded two images when the device orientation changes. The gradient does not work as it is expected.

![ios simulator screen shot 27-mar-2015 11 22 30 pm](https://cloud.githubusercontent.com/assets/11028703/6873709/367ce45c-d4d8-11e4-883b-8dec24fc5cf1.png)
![ios simulator screen shot 27-mar-2015 11 22 41 pm](https://cloud.githubusercontent.com/assets/11028703/6873708/36783c9a-d4d8-11e4-8b36

[2015-03-31 23:14] VAlexander commented on #20
Thanks @remzr7 & @beeth0ven  I'll definitely look over this on the weekend. In the meantime, is there any specific use cases you'd like to see this implemented for? If you simply want to set colors, you can use the Color Palette I built for mac: [Chameleon Storyboard Palette](https://github.com/VAlexander/Chameleon#storyboard-add-on-)

However if you'd like Chameleon to expose other properties suc

[2015-04-01 00:35] VAlexander commented on #22
@Amol07 The reason for this has to do with the way Chameleon generates a `gradientColor`. Every `gradientColor` is backed by a `CAGradientLayer`. Unfortunately what you are experiencing, is to be expected, since `CALayer` does not support layout managers on iOS, meaning it is up to you to calculate the frame changes yourself.

Side Note: My goal is to find a way for Chameleon to eventually handle

[2015-04-04 05:51] beeth0ven commented on #20
Chameleon Storyboard Palette is a great framework, I like it very much.
Thanks.

[2015-04-10 01:04] annehiro opened #23 "Is there a way to set navigation bar gradient color globally?"
.

[2015-04-15 09:27] VAlexander commented on #23
@annehiro This is actually fairly easy. Since a gradient color is simply a `UIColor,` you can use Apple's [UIAppearance protocol](https://developer.apple.com/library/prerelease/ios/documentation/UIKit/Reference/UIAppearance_Protocol/index.html) to do exactly what you want.

Here's a quick example to get you started. In your app's delegate, simply do the following:

[code]

Of course, you could als

[2015-04-23 13:57] Jamongkad opened #25 "How To: Update background gradient when UITableView scrolls"
Hello! Awesome library btw. I ran into an issue which I think can easily be solved but my brain isn't working too right at the moment. I have a UITableView that has over a 100+ cells. Easy enough to apply a gradient to the TableView background. The problem starts when I scroll down the gradient doesn't scroll with the content. Basically it clips at a certain point and starts over again when the ta

[2015-04-29 06:08] VAlexander commented on #23
I'm gonna go ahead and close this, since it seems like you may have figured it out. Feel free to open up a new issue if you're having any other troubles. :+1:

[2015-04-29 06:08] #23 closed

[2015-04-29 06:12] VAlexander commented on #25
Thanks for the kind words @Jamongkad and sorry for the late reply. Just to make sure I understand you correctly, are you attempting to set a gradient background on each individual cell?

[2015-05-04 00:46] bre7 opened #28 "Missing release"
1.1.3 missing :D

[2015-05-07 23:59] VAlexander commented on #28
Oops! For some reason I assumed it happened automatically if done via Pull Requests. Thanks @bre7, just updated Chameleon to 1.1.3 on Cocoapods. The changes should reflect this soon!

[2015-05-07 23:59] #28 closed

[2015-05-08 00:00] bre7 commented on #28
:wink: np

[2015-05-08 00:00] VAlexander commented on #25
@Jamongkad I'm going to go ahead and close this for now due to the lack of activity, but if you're still having any issues feel free to reopen one. :smiley:

[2015-05-08 00:00] #25 closed

[2015-05-08 00:37] ViccAlexander opened #29 "I want to take the time to thank the following individuals..."
I want to take the time to thank the following individuals...

@aekwan @alist @bre7 @cascio @ddwang @jmhooper @peacemoon @saullopez @sfader @smokyonion & @jherran

I've been busy working on a separate project for the last couple of months, which prevented me from being as involved with Chameleon as I would have liked. I feel like I never had the change to truly thank all of you for taking the time

[2015-05-10 06:13] qiaoyan opened #30 "Cocoapods alert for objc project"
Hi,
is there any configuration in pod's file can define version for objc?
From Cocoapods:

[code]

[2015-05-10 06:22] bre7 commented on #30
There is a way using subspecs like [QueryKit.podspec](https://github.com/QueryKit/QueryKit/blob/master/QueryKit.podspec) for example. The current solution would be to use Chameleon 1.1.2

[2015-05-10 06:32] qiaoyan commented on #30
Thanks bre7,  the following line resolve this issue temporarily:
pod 'ChameleonFramework', :git => "https://github.com/VAlexander/Chameleon.git", :tag => "1.1.2"

[2015-05-10 06:35] ViccAlexander commented on #30
@qiaoyan @bre7 Let me look into this. I'll post any updates here.

[2015-05-10 06:37] bre7 commented on #30
@qiaoyan Or pod 'ChameleonFramework', ,1.1.2'

[2015-05-10 06:40] bre7 commented on #29
Thank you, for releasing such a great component Vic ;)

[2015-05-10 07:02] ViccAlexander commented on #30
@bre7 is right, you could simply use:

[code]

In the mean time I'm going to try to fix this. @bre7 Would the smartest thing to do is create a new swift branch and drop the swift files there? Or would using subspecs do the job?

[2015-05-10 07:08] ViccAlexander commented on #29
@bre7 No worries! I'm actually planning on a huge 2.0 release later this summer in hopes of simplifying the library some more, while also adding some of the planned features! It'll be exciting.

[2015-05-10 07:09] bre7 commented on #30
I think they would both do the trick. There's a third option: two separate specs and single branch like Realm does [realm-cocoa](https://github.com/realm/realm-cocoa?files=1)

[2015-05-10 07:10] bre7 commented on #29
Can't wait !!! (For real haha)

[2015-05-11 00:19] ViccAlexander commented on #30
So I decided that the best thing to do for now is pursue the third option suggested by @bre7. I've separated objective-c and swift files into different folders, and plan on creating a separate spec for swift installations. At the moment the latest version (1.2.0) should install without a problem for Objective-C projects.

You can go back to simply using:

[code]

Later tonight I'll look into creat

[2015-05-11 12:04] ViccAlexander commented on #30
On second thought, it seems a bit premature to create a pod spec for Swift when `pod 'ChameleonFramework'` works just as well for both. Perhaps if the library was completely ported over to Swift, would it make more sense. Maybe it's something that can happen if people truly want this once 2.0 is out, but I can't see much added benefit.

With that said, installation and usage should be just as easy

[2015-05-11 12:49] bre7 commented on #30
I was gonna ask if you wanted swift examples :) Extension for "UIStatusBarStyle Methods" would be another way, I'll push it in a sec.

[2015-05-11 22:46] ViccAlexander commented on #30
Thanks @bre7! I'll look at the pull request in a bit.

[2015-05-17 04:35] #30 closed

[2015-05-31 07:49] rjcristy opened #32 "Gradient - change angle (question)"
First of all I want to thank you for this wonderful library that makes IOS development easier.

I would like to ask if Chameleon currently supports altering the angle of a linearGradient UIColor?

Thank you very much!

[2015-05-31 09:23] bre7 commented on #22
@ViccAlexander [DLConstraintLayout](https://github.com/regexident/DLConstraintLayout) ?

[2015-05-31 12:09] ViccAlexander commented on #32
Glad you find it useful @rjcristy! To answer your question, at the moment there isn't any straightforward way to do this. If you'd like I can add it as a feature for the 2.0 release.

If you really need this asap, there is a way. Let's begin by looking at how a linear gradient's direction works. Take the following snippet of code for example:

[code]

This will create a gradient that begins on the

[2015-05-31 12:11] ViccAlexander commented on #22
@bre7 Interesting. I'll definitely look into it, thanks!

[2015-06-01 08:46] rjcristy commented on #32
Thank you for your very generous answer! Hope it can help others users too of this library.

[2015-06-01 08:46] #32 closed

[2015-06-01 08:49] ViccAlexander commented on #32
No worries. Good luck!

[2015-06-08 06:34] #29 closed

[2015-06-11 18:14] carnegepg opened #33 "Error in swift project"
I read the documentation and did the installation for cocoapods and import for my project the *ChameleonShorthand.swift*, when build the project give me the following error:

[code]

Another alert that the xcode this giving is:

[code]

Can you help me?
Thanks a lot

[2015-06-11 18:22] bre7 commented on #33
Xcode version ?

[2015-06-11 18:23] carnegepg commented on #33
Xcode 6.3.2 (6D2105) with swift 1.2

[2015-06-11 18:25] bre7 commented on #33
Mmmh, it shouldn't happen...Let me check with a new project again

[2015-06-11 18:48] bre7 commented on #33
Thanks for catching my mistake :) @ViccAlexander should accept the PR but meanwhile, to fix it just add:
[code]
to the swift file

[2015-06-11 18:53] carnegepg commented on #33
Thanks... :smile:

[2015-06-11 18:56] #33 closed

[2015-06-12 21:50] ViccAlexander commented on #33
Thanks for catching this @carnegepg. I'm glad @bre7 figured it out (BTW Thanks for stepping in). I've accepted the pull request, so everything should be pretty straightforward now. :sunglasses:  :+1:

[2015-06-26 12:44] Lucas-gronlund opened #35 "I get the error No such module on import ChameleonFramework"
I get the error "No such module" on import ChameleonFramework in the Swift file. I have done the manual installation. Any solution? (Also tried cleaning and rebuilding)

[2015-06-27 04:00] bre7 commented on #35
It should work, post your Podfile if you can.

[2015-06-27 08:54] Lucas-gronlund commented on #35
I'm not able to use Cocoapods since im using the El capitan beta. So my problem is importing just the manual way.

[2015-06-27 09:30] #35 closed

[2015-06-27 21:18] bre7 commented on #3
Something like this: https://github.com/dphans/DPTheme/blob/master/DPTheme/DPTheme.swift

[2015-07-05 22:52] ViccAlexander commented on #3
@bre7 Thanks for your suggestion! Actually I've been working on Chameleon 2.0 for the past few weeks, and this was one of the first few things I already built! :sunglasses: I'm just waiting on one more feature, and I'll be releasing it soon! :) Thanks for keeping it :100:  and holding down the fort in the meantime! Cheers!

[2015-07-06 01:19] bre7 commented on #3
:wink: np

[2015-07-06 18:58] bre7 opened #37 "Add Carthage support"

[2015-07-07 01:23] benwoodward commented on #37
+1

[2015-07-08 12:01] carnegepg opened #38 "Update for Swift 2.0 and IOS 9?"
I wonder when will have an update for the swift 2.0 and IOS 9.

Thanks.

[2015-07-08 12:36] bre7 commented on #38
I'm pretty sure it works for swift 2 since there are only simple functions. I can be wrong though. As Vic said, he's working on v2.0 of the framework otherwise I'd update it if needed.

[2015-07-09 09:52] ViccAlexander commented on #37
Thanks for the suggestion. Personally, I haven't tried Carthage, but I'll definitely look into it this weekend! :sunglasses:

[2015-07-09 09:54] ViccAlexander commented on #38
Thanks @bre7 for helping to manage Chameleon! Really appreciate it. I'm on a trip right now, but will try to update cocoa pods asap!!! :smiley:

[2015-07-09 14:42] dankiiing commented on #38
@ViccAlexander your framework is fantastic, how do I use in in swift ? I have imported it as a cocoapod and not sure what to do next, do I create a bridge header ?

[2015-07-09 16:12] bre7 commented on #38
You can either install the pod and copy the swift file manually, or wait till Vic accepts the new PR so you only need to do:
[code]

[2015-07-09 18:29] ViccAlexander commented on #38
Just updated the cocoa pod and the readme thanks to @bre7's help! Everything should be straightforward now!!! :sunglasses: Enjoy!

[2015-07-09 18:29] #38 closed

[2015-07-15 19:23] ViccAlexander commented on #37
Chameleon will support Carthage in the upcoming **2.0** release. :smiley:

[2015-07-17 17:19] carnegepg commented on #38
Thanks guys, sorry for the delay to answer, I'll test now. :smile:

[2015-07-18 00:37] ViccAlexander commented on #38
@carnegepg No worries. I'm glad you've found Chameleon useful! :smiley:

[2015-07-21 19:25] benwoodward commented on #37
Great! Thanks.

[2015-07-22 03:15] ad-moh opened #40 "Problem adding files"
I'm having problems adding the files to my swift project. I keep getting errors in the short hand class. Can you please explaining a little bit more on how to integrate it?
Thank you

[2015-07-22 03:17] bre7 commented on #40
Hi ad-moh, you don't need to add any files manually anymore. Are you using CocoaPods?

[2015-07-22 10:38] ad-moh commented on #40
No, I'm not using CocoaPods. You mean the folder named pod or the whole project folder?
Sorry i'm still new at this.

[2015-07-22 12:24] bre7 commented on #40
The folder names Pod.

[2015-07-22 12:31] ad-moh commented on #40
Yeah that's what I did but I keep getting errors in the ChameleonShorthand.swift file.
![screen shot 2015-07-22 at 8 30 20 am](https://cloud.githubusercontent.com/assets/8908361/8825294/0c96fb62-304c-11e5-9625-53d7150b2c5e.png)

[2015-07-22 13:46] bre7 commented on #40
I'll give it a try later and let you know.

[2015-07-22 13:55] ad-moh commented on #40
Alright. Thank you

[2015-07-22 14:04] bre7 commented on #40
Nevermind, the issue is because swift isn't loading the objc classes. You need to add the imports to your Bridging header.

[2015-07-22 14:13] ad-moh commented on #40
Oh yeah, it didn't create a bridging header when i added. I guess I have to do that manually

[2015-07-23 01:46] bre7 opened #41 "More Colors"
? You can never have too many colors :grimacing::grimacing::grimacing:
* [flatuicolorpicker](http://www.flatuicolorpicker.com/all)
* [flatuicolors](https://flatuicolors.com/)
* [flatcolors](http://flatcolors.net/)

[2015-07-23 02:36] ad-moh commented on #40
It worked. You guys have a really cool library here. Thanks for everything

[2015-07-24 22:43] ViccAlexander commented on #40
Awesome!

[2015-07-24 22:43] #40 closed

[2015-07-24 22:55] ViccAlexander commented on #41
Awesome thinking @bre7. In fact, I've considered this before, but to be honest, more colors might not be as helpful as one may think. According to Hick's Law, if you increase the number of choices you are also increasing the amount of time it takes to make a decision. This is important to understand because what makes Chameleon useful is how convenient and quick it is to use.

In 2.0, I've added t

[2015-07-24 22:58] bre7 commented on #41
You have a good point, letting devs add their own colors is probably the best solution instead of adding colors to the palette. By the way Vic, is 2.0 going to be objc or swift ?

[2015-07-24 23:01] ViccAlexander commented on #41
It's still going to be objective-c, but what I can do is probably drop it in beta as a branch, and if you have time you can try porting it to Swift entirely if you'd like? Would there be a bigger benefit to porting it over entirely, rather than what you've been doing at the moment? Just curious.

[2015-07-24 23:04] bre7 commented on #41
I'm no expert, but there are some benefits (structs, etc....) to using Swift. And also, imo at least, it's easier to maintain Swift code than OC...I have no problem in porting it to Swift in my spare time.

[2015-07-24 23:16] ViccAlexander commented on #41
Oh cool. Yeah, I'm not as familiar with Swift syntax, as I am with Objective-C, which is why I defaulted to Obj-C, but if you don't mind helping to create a Swift version, I'm all for it. I'll probably create the 2.0 branch in the coming week or so.

[2015-07-28 04:24] #41 closed

[2015-08-24 07:44] TerryHug2305 opened #42 "duplicate definition of category"
I use  'EDColor' and 'ChameleonFramework' in pod, Could add a prefix to category  'CIELAB' on interface 'UIColor' ?
iphonesimulator/ChameleonFramework.framework/Headers/UIColor+CIELAB.h:33:12: warning: duplicate definition of category 'CIELAB' on interface 'UIColor'
@interface UIColor (CIELAB)

[2015-08-24 10:52] bre7 commented on #42
V2 should be here soon, otherwise Vic will fix it. (Or I'll PR later)

[2015-08-27 00:06] ViccAlexander commented on #42
Sorry about that. Will do it over the weekend!

[2015-08-27 00:19] TerryHug2305 commented on #42
thanks，I very appreciate that

2015-08-27 8:06 GMT+08:00 Vicc Alexander <notifications@github.com>:

[2015-09-07 15:07] bre7 commented on #42
Prefixing the categories is more than enough, doubt there will be collisions with other classes.

[2015-09-07 16:16] TerryHug2305 commented on #42
maybe you can use Travis CI to test Prefixing

2015-09-07 23:07 GMT+08:00 bre7 <notifications@github.com>:

[2015-09-08 02:03] ViccAlexander commented on #42
@bre7 You're correct. I'm holding out on everything until 2.0. It's almost ready I promise.

@TerryHug2305 I've never tried using Travis CI, but it seems like everyone is using it, and for good reason. I'll definitely check it out.

[2015-09-08 02:23] bre7 commented on #42
:+1:

[2015-09-08 09:37] cheriaa opened #44 "[Gradient color] - Invalid context 0x0 error"
I'm facing an issue for the first time with the framework. I'm getting an invalid context error when trying to set a view's background color with a gradient color. Bellow is my code :

UIView * view   = [[UIView alloc]initWithFrame:frame];
    UIColor *lightYellow = [UIColor colorwithHexString:@"#98c168" alpha:0.9];
    UIColor *darkYellow = [UIColor colorwithHexString:@"#f5eb08" alpha:0.9];
    N

[2015-09-08 09:46] #44 closed

[2015-09-14 07:02] NicholasTD07 commented on #37
@ViccAlexander check out this PR #45. I have done this a while ago, so might need to resolve some merge conflicts.

[2015-09-21 01:43] ViccAlexander commented on #3
Just added to Chameleon 2.0 🎉

[2015-09-21 01:43] #3 closed

[2015-09-21 01:43] #20 closed

[2015-09-21 01:44] ViccAlexander commented on #42
No longer should be a problem in `2.0` :smiley:

[2015-09-21 01:44] #42 closed

[2015-09-21 01:57] ViccAlexander opened #46 "Updating Swift to 2.0"
Hi @bre7!

Just updated Chameleon to 2.0. There might be some conflicts with Swift Macros though since several have been deprecated. It would be awesome if you can check it out real quick. Also if you have time, could you add some Swift examples for the new features in the documentation! Thanks!!! :smiley:

[2015-09-21 02:04] bre7 commented on #46
I was just reading the README :D Awesome update :+1:

Don't bother merging the PR yet, I'll add the swift stuff in there and mention you when it's done ?

[2015-09-21 02:05] ViccAlexander commented on #46
Thank you! Aww man I merged it right before lol yeah just let me know!

[2015-09-21 02:10] bre7 commented on #46
Hehe, no worries.

One thing, related to Objc...Do you prefer the non-generics version ? For instance, in **NSArray+Chameleon.h** it would be *better* to use `NSArray<UIColor *>` instead of `NSArray`

[2015-09-21 02:12] ViccAlexander commented on #46
Is that now possible in ObjC? If so, specifying types would be better!

[2015-09-21 02:21] ViccAlexander commented on #46
BTW Should I go ahead and merge the PR? Let me know when you're good. Also, it'll require a cocoa pods update as well right?

[2015-09-21 02:22] bre7 commented on #46
Yes and yes....I'll upgrade the remaining stuff in the readme this week probably. [New in Obj-C](https://developer.apple.com/library/prerelease/ios/documentation/DeveloperTools/Conceptual/WhatsNewXcode/Articles/xcode_7_0.html)

[2015-09-21 02:27] ViccAlexander commented on #46
Thanks bre! Appreciate all the work you put into this!

[2015-09-21 15:00] bre7 opened #48 "v2 questions"
1. Typo in the definition ? It's in the `#pragma mark - Class Methods` section
2. In `UIViewController+Chameleon.h` the method `flatify()` is empty (Line 97)
3. In `findColorsOfImage(...)`, won't the NSArray and NSCountedSet have the same colors ?

[2015-09-21 23:03] ViccAlexander commented on #48
@Bre7

1. In what file is the typo in?
2. I ended up removing support for the `flatify` method. It wasn't as perfect as I wanted it to be, and with the new support for themes, I figured it wouldn't be as useful.
3. Not exactly. The NSCountedSet holds a color for every single pixel. I then do some processing (ensure they all have a minimum saturation tolerance) and sort them by most occuring to lea

[2015-09-21 23:18] bre7 commented on #48
I think 1 was in one of the categories named Private.

Tests incoming also.  I'll start with your code as a baseline for now.

[2015-09-22 21:38] bre7 commented on #48
[code]

`abs` of a bool ?

[2015-09-22 21:47] ViccAlexander commented on #48
Where is that line located?

[2015-09-22 21:51] bre7 commented on #48
https://github.com/ViccAlexander/Chameleon/blob/338ff86ed7a8f8cf0fed578215742605a67391ce/Pod/Classes/Objective-C/UIColor%2BChameleonPrivate.m#L103

[2015-09-22 22:06] ViccAlexander commented on #48
Oh right. `abs` isn't a bool. What that line is doing is checking if a certain color is distinct enough from another. What it is doing specifically is checking if the difference of several values is at least 0.03 (tolerance). If it is, it determines that the two colors are distinct, otherwise it returns `no`. It does this several times checking for different things each time.

[2015-09-23 01:59] bre7 commented on #46
Almost done (Only the shorthand methods for now, Swift only version is in the works but it will take a while)

[2015-09-23 02:01] bre7 commented on #48
Shouldn't `UIColor.blueColor().flatten()` be the same as `FlatBlue()` or `FlatBlueDark()` ? Or should nearestColor return another thing ?

[2015-09-23 02:21] ViccAlexander commented on #48
1. Yes and no. What it does is it tries to find the closest "Flat Color" to the provided color. 'Flattening' blue has always been a bit of a problem since the human eye tends to favor it differently than computers, so it usually returns a purplish flat for that specific blue. It worked exactly the same as the deprecated`flatVersionOf:` method.

2. Ahh you're right! Nice catch!

[2015-09-23 20:29] bre7 commented on #48
Why have a separate parameter for alpha instead of using color's alpha, in  `+ (UIColor *)colorWithComplementaryFlatColorOf:(UIColor *)color withAlpha:(CGFloat)alpha`

[2015-09-24 23:02] annehiro opened #51 "Wrong navigation bar color"
The following line in AppDelegate makes navigationBar background and text color white.
        `Chameleon.setGlobalThemeUsingPrimaryColor(FlatMint(), withSecondaryColor: FlatBlue(), andContentStyle: UIContentStyle.Contrast)`

[2015-09-25 01:49] bre7 opened #53 "flatten bug"
`color.flatten` calls `colorWithFlatVersionFrom(self)`, then `[color getLightness:nil valueForA:nil valueForB:nil alpha:&colorAlpha];`. Inside `getLightness` there's this code:
[code]
but they are all nil

[2015-09-25 02:23] bre7 commented on #51
Mmmh, `ContrastColor`seems to be the problem.

[2015-09-25 02:37] bre7 commented on #51
This line is the problem:
[code]

[2015-09-25 17:45] annehiro commented on #51
Okay, that worked for me. But I had to make the change in Chameleon.m.

[2015-09-25 19:36] bre7 commented on #51
Fix will pushed soon ;)

[2015-09-25 20:48] annehiro commented on #51
Thanks!

[2015-09-25 21:41] ViccAlexander commented on #51
Thanks @bre7! Can you do a pull request with your fix?

[2015-09-25 21:42] ViccAlexander commented on #53
I'll take a look!

[2015-09-25 21:52] ViccAlexander commented on #48
1. To answer your first question, I figured it would be easier for developers who also wanted to change the alpha of the new color, to do so in one call. I've found myself having to do that a few times, and so this definitely made that easier. However I'm sure you've seen it, but there's also a simple version of that method: `+ (UIColor *)colorWithComplementaryFlatColorOf:(UIColor *)color`

3. Act

[2015-09-25 23:28] bre7 commented on #51
Will do

[2015-09-26 00:03] bre7 opened #55 "setStatusBarStyle deprecated in iOS9"
Ignoring it for now ?

Docs: [setStatusBarStyle:animated:](https://developer.apple.com/library/ios/documentation/UIKit/Reference/UIApplication_Class/#//apple_ref/occ/instm/UIApplication/setStatusBarStyle:animated:)

[2015-09-26 06:30] 99centsappdevelopment opened #57 "EXC_BAD_ACCESS Error"
I am getting an EXC_BAD_ACCESS error on the following line in UIColor+ChameleonPrivate:

        *L = [LABValues[0] floatValue];

(L = NULL)

Why is this? I installed manually, not with CocoaPods (I just dragged the files into my project and imported Chameleon.h - no other errors)

[2015-09-26 06:38] 99centsappdevelopment commented on #57
This is only a problem, I have discovered, when for:

    [NSArray arrayOfColorsFromImage:img withFlatScheme:NO];

withFlatScheme = YES. There is no problem if it = NO

[2015-09-26 14:24] bre7 commented on #57
Yeah, there's an open issue already: Check #53. Fix was submitted, merge pending

[2015-09-27 03:29] #37 closed

[2015-09-27 03:29] #51 closed

[2015-09-27 03:29] #53 closed

[2015-09-27 03:29] #57 closed

[2015-09-27 03:30] ViccAlexander commented on #55
Yupp. Figured it'll be a while before they're completely removed from iOS. I'll think of a better approach soon.

[2015-09-27 03:31] #46 closed

[2015-09-27 03:38] ViccAlexander commented on #48
@bre7 Seeing how much you've helped out in the past few weeks, I've added you as a collaborator to makes things easier! Thanks for all your help :100: :smiley:

[2015-09-27 03:41] bre7 commented on #48
😉😁 ty. I've enjoyed working with this framework quite a lot

[2015-09-27 03:52] bre7 opened #58 "Add nullability annotations"
Doesn't seem like necessary (Most values appear to be non-null and they are implicitly unwrapped optionals in Swift unless stated otherwise by annotations)

[2015-09-27 03:54] #55 closed

[2015-09-27 05:16] ViccAlexander commented on #48
No worries! I trust your input. :+1:

[2015-09-27 06:53] ViccAlexander opened #60 "Cocoapod Error: Chameleon.h not found"
@bre7 I didn't want to move the `Chameleon.h` file you added just in case it broke any dependencies, however I added a copy back into the Pod folder to fix the error.

[2015-09-27 06:54] ViccAlexander commented on #60
Updated to 2.0.2.2 and everything seems to be working correctly now.

[2015-09-27 06:57] bre7 commented on #60
Ohhh darn, forgot to fix the pod. The easiest solution would be to change the spec to `Chameleon_` instead of `Chameleon`

[2015-09-27 06:58] ViccAlexander commented on #60
No worries I left everything as is, and just dropped Chameleon back in, which imports Chameleon_.h and all the other headers. It seems to be working perfectly now.

[2015-09-27 07:02] bre7 commented on #60
Awesome. Had to rename it to avoid issues in the dynamic library since there was a `Chameleon.h` already

[2015-09-27 07:16] ViccAlexander commented on #60
No worries! So is everything good now? Didn't want to break anything.

[2015-09-27 07:17] bre7 commented on #60
I'll check tomorrow (later I guess) to be sure

[2015-09-27 07:24] ViccAlexander commented on #60
Awesome let me know if there's anything I can do. I'm using it right now in a project and it seems to be working perfectly so I'll do the same! Thanks.

[2015-09-27 10:18] #60 closed

[2015-09-28 01:15] bre7 opened #61 "Unexpected flatten behaviour"
Shouldn't `UIColor.yellowColor().flatten()` return something "similar" at least to FlatYellow or FlatYellowDark instead of a black shade ?

Update: Works as intended. But for some reason UIViewControllers have black background as default

[2015-09-28 01:23] #61 closed

[2015-09-28 01:30] #58 closed

[2015-09-30 09:33] pawelkata opened #64 "Forcing hidden hairline in navigationBars"
The current version of Chameleon forces hidden hairline in all navigationBars throughout an app. While for some instances this is correct, I use Chameleon mainly for flat colors and missing hairline in navigation bars really messes up my UI. Is it necessary to force the hairline to be hidden?

Here's the code ```UINavigationController+Chameleon.m```:
[code]

Other than that this is an awesome fram

[2015-09-30 09:39] ViccAlexander commented on #64
@pawelkata Thanks! I think you're correct in that it should be optional. I'll update Chameleon tomorrow!

[2015-09-30 09:42] pawelkata commented on #64
@ViccAlexander Blazing fast response time! Thank you very much! I honestly can't imagine not using Chameleon in my apps :D

[2015-09-30 11:17] bre7 commented on #64
My bad. There needs to be a new bool to control this

[2015-09-30 11:25] ViccAlexander commented on #64
@pawelkata No worries. I'm glad you're finding it useful!
@bre7 It should be an easy fix. Oh and there's also a minor spelling mistake. :grinning: I'll do it tomorrow (later today) and update the status here.

[2015-09-30 13:34] bre7 commented on #64
@bre7 It should be an easy fix. Oh and there's also a minor spelling mistake. :grinning: I'll do it tomorrow (later today) and update the status here.

True 😅😅😓😓

[2015-10-02 12:27] ViccAlexander commented on #64
Sorry it took an extra day. I just updated Chameleon to `2.0.3`. By default the hairline is no longer hidden. However, for those that do want to hide it, you can simple do the following inside a `UIViewController`:

[code]

Or if you rather do it from inside a `UINavigationController` you can do:

[code]

Good luck @pawelkata!

[2015-10-02 12:27] #64 closed

[2015-10-05 10:11] pawelkata commented on #64
Awesome! Thanks! :D

[2015-10-07 12:06] gabyalex opened #65 "Gradient don't fit with my view"
Hi, i'm trying to add a gradient background for my UIView but, unfortunately, it don't fit with my desired width (screen width). The gradient contains black + transparent.

Code:
[code]
*ps is my first project in iOS and i'm working with Swift

Portrait:

![screen shot 2015-10-07 at 14 51 53](https://cloud.githubusercontent.com/assets/5443491/10336919/ce9e9220-6d04-11e5-91bf-a0a1f5754d9a.png)

Lan

[2015-10-07 12:41] bre7 commented on #65
(Cleaned your code a bit)

I've tried something similar with the demo project and it worked as intended. Maybe you forgot to set constraints for the fadeBackground UIView ?

[2015-10-07 13:11] gabyalex commented on #65
![screen shot 2015-10-07 at 16 10 23](https://cloud.githubusercontent.com/assets/5443491/10338310/120d2e32-6d0e-11e5-9496-3af1cebc96b6.png)

[2015-10-07 13:15] bre7 commented on #65
Mmmh, I'm not sure then...I wasn't able to reproduce your issue.

Does that happen when orientation changes ? Or the moment the scene is shown ?

[2015-10-07 14:17] gabyalex commented on #65
It happen every time. Btw, i observed that a new gradient is created at the end of the main one. can i stop this? The only solution i found is to set the width of the frame = screen_width * 2.

[2015-10-07 17:59] fbara opened #67 "'Unrecognized selector' sent to class"
I've been using Chameleon in my app for about 18 months and I haven't had a problem.  I changed my app to use cocoapods (along with other updates) so I had to update all the `#import` statements from `#import "Chameleon.h"` to `#import <ChameleonFramework/Chameleon.h>`.

I'm now receiving an error when I use either `ComplementaryFlatColor` or `ContrastColor`.  The error I receive is
`+[UIColor col

[2015-10-07 22:17] fbara commented on #67
After commenting out the code above, I started getting many more errors.  These are all on every use of Chameleon in my project.  It appears I'm getting the same `Unrecognized selector` error every time I use a color (such as `flatBlack`) or call any Chameleon function.

This is all Obj-C and Xcode 7.0.1.

[2015-10-07 22:21] bre7 commented on #67
Could you try downloading cloning Chameleon from the repo and delete the pod for now ? Same result ?

[2015-10-07 22:53] ViccAlexander commented on #67
@fbara What Cocoapods version are you using? Also are you using this within an extension?

[2015-10-08 12:31] fbara commented on #67
I'm using cocoapods v0.38.2.  I cloned the repo on a different project and it worked fine.  I then took another project that I used Chameleon (with cocoapods) and updated that to the latest Chameleon pod.  That worked fine, too.

It now looks like the problem is not with Chameleon but something in my code.  I'm going to close this issue.  Thanks @bre7 and @ViccAlexander for trying to help.

[2015-10-08 12:37] fbara commented on #67
I closed this without leaving the correct comment.  It appears the problem is with my code.  I was able to clone the repo and use it in another project and it worked fine.  I also updated the Chameleon pod on a different project and that worked fine, too.  I'm going to close this issue.  Thanks @bre7 and @ViccAlexander for your help.

[2015-10-08 12:37] #67 closed

[2015-10-08 20:44] ViccAlexander commented on #67
No prob. Hope you figure it out!

[2015-10-08 22:33] fbara commented on #67
@ViccAlexander, thx.  While I have you here, I think it's weird that the error appears to be referencing your internal code because it's saying `'NSInvalidArgumentException', reason: '+[UIColor flatNavyBlueColor]: unrecognized selector sent to class`.   For reference, I removed the pod, cloned the repo, and added the Chameleon folder (which only contains the Chameleon.h file and Info.plist) to my

[2015-10-08 23:45] wimbledon opened #70 "colorWithFlatVersionFrom: returns colors with alpha==0"

[2015-10-09 00:06] #70 closed

[2015-10-09 00:08] bre7 commented on #65
Are you able to share your code ? (If you don't want to or can't post it online, send me an email and I'll try to check if it's an issue related with Chameleon)

[2015-10-09 01:29] ViccAlexander commented on #65
Thanks @bre7 for helping out. @gabyalex How did you install Chameleon? Cocoapods or manually? Make sure you're using the latest release.

[2015-10-09 05:30] weiFans commented on #65
How not to receive mail message alerts？

[2015-10-09 05:35] bre7 commented on #65
Stop watching the issue or disable email notifications.

[2015-10-09 05:57] weiFans commented on #65
@bre7 I closed the right side of the small speakers, but it will receive notification, trouble

[2015-10-09 08:41] ViccAlexander commented on #65
@weiFans At the top right corner of the page you'll see a few buttons, specifically one with an **eye**. Click on it and select `Ignoring`. This way you will no longer be notified about anything.

![ignoring](https://cloud.githubusercontent.com/assets/1724674/10389461/b12f28ee-6e26-11e5-9669-301c86695351.png)

[2015-10-09 09:21] weiFans commented on #65
@bre7 ths~

[2015-10-13 02:03] skytoup opened #72 "UIMenuViewController button style"
![png](http://7xjl2z.dl1.z0.glb.clouddn.com/1.png)
[code]
button is ugly

[2015-10-13 02:10] bre7 commented on #72
1. I'm not sure if gradients were meant to be used with GlobalTheme functions.
2. Theme functions set a UIButton's style using a bg color only (no rounded borders...So they'll look like solid rectangles/squares).

Also, what do you mean by ugly ? Are you reporting a bug or is the dark view behind it intended ? GlobalTheme functions are just a starting point, you should customize any specific view

[2015-10-13 06:57] skytoup commented on #72
using the [Chameleon setGlobalThemeUsingPrimaryColor:withSecondaryColor:andContentStyle:] function, which leads to the UIMenuViewController is not beautiful.
Because the UIMenuViewController button is a rounded corners, but the set up is a rectangles

[2015-10-13 13:30] bre7 commented on #72
I think it's intended. You can easily add rounded corners to every UIButton using UIButton.appearance()

[2015-10-13 14:15] skytoup commented on #72
I mean, Chameleor set a theme, affecting UIMenuViewController button style, make it ugly

[2015-10-13 14:47] bre7 commented on #55
appearanceWhenContainedIn was also deprecated in iOS 9

[2015-10-13 16:25] jlama commented on #48
Shouldn't `if (abs(r - g < 0.03f && fabs(r - b) < 0.03f))` actually be `if (abs(r - g) < 0.03f && fabs(r - b) < 0.03f)` ?

[2015-10-14 21:27] badgercl opened #74 "SFSafariViewController looks weird"
Hi,

SFSafariViewController views presented in apps using Chameleon are using part of the color scheme, and they do not look ok.

For instance, to the demo app I added an IBAction to the example button with the code:

[code]

When clicking the button the presented SFSafariViewController looks:
![screen shot 2015-10-14 at 6 15 31 pm](https://cloud.githubusercontent.com/assets/4398862/10498173/f85f9

[2015-10-14 22:47] bre7 commented on #74
There might be a way to theme it. I'll have a look next week or we'll need to think of a way to add exceptions (if there isn't one already) to solve this issue an #72 also.

[2015-10-14 22:57] KiranPanesar opened #75 "CGContextDrawImage leaking?"
Love the framework, but we're running into an issue where it looks like Chameleon's colour-generation is leaking.

We're using the `+arrayOfColorsFromImage:withFlatScheme:(BOOL)isFlatScheme` to generate complementary colours around our main image. Calling this even around 7 times resulting in our persistent memory usage doubling.

When I dig into how the method works internally, I'm noticing that

[2015-10-16 21:44] ViccAlexander commented on #72
@skytoup Due to the way in which gradient colors are generated, gradient colors should **not** be expected to work with themes. The reason for this is due to frame sizes. Gradient colors are generated as an image, which is then used to color an element. The element's size needs to be known ahead of time for this to work. However because theming occurs prior to the creation of elements, unexpected

[2015-10-16 21:46] ViccAlexander commented on #65
I'm closing this issue for now seeing that I can't reproduce the bug either. If more information is provided we can reopen the issue.

[2015-10-16 21:47] #65 closed

[2015-10-16 21:50] ViccAlexander commented on #74
This is definitely "fixable". There may be a way to exclude it from being themed, but it wouldn't be ideal. Instead, we should find a way to theme it as a regular view controller would be themed, with a few modifications so it doesn't look bad. @bre7 Let me look into this while I also look into #72.

[2015-10-16 21:52] ViccAlexander commented on #75
@KiranPanesar Let me look into this and get back to you. Thanks for pointing this out!

[2015-10-16 22:11] ViccAlexander commented on #55
True. Definitely need to find an alternative way. Once we figure out all the other bugs, we can totally focus on this.

[2015-10-17 02:49] skytoup commented on #72
Actually I just want you to see if there are any way to change it nicely~~~

[2015-10-23 13:45] bre7 commented on #74
Not sure if possible for the time being: http://stackoverflow.com/questions/33246813/how-to-change-the-background-color-of-a-sfsafariviewcontroller

[2015-10-23 13:47] badgercl commented on #74
So, probably it would be nice to not apply any styles to SFSafariViewController at all :)

[2015-10-23 16:47] bre7 commented on #74
Yeah. Exceptions can't be added I think. @ViccAlexander kinda hacky but the only possible solution I thought would be to swizzle SFVC viewDidLoad and set the components' style back to default.

[2015-10-26 23:06] bre7 opened #81 "MIssing ColorSchemeOf in Swift"

[2015-10-30 14:45] #81 closed

[2015-10-31 05:38] realcarlos opened #83 "bug with FXForm"
when set `[Chameleon setGlobalThemeUsingPrimaryColor:[UIColor flatBlueColor] withContentStyle:UIContentStyleContrast];`

`UIStatusBar` and `UITableViewCell` display the wrong color.

[2015-10-31 05:41] bre7 commented on #83
Upload a screenshot of you can

[2015-11-01 10:55] realcarlos commented on #83
![Uploading SAU8@PHTKA$7[]TV1_$MQU0.jpg…]()

[2015-11-01 10:57] realcarlos commented on #83
![Uploading Screen Shot 2015-11-01 at 6.55.42 PM.png…]()
![Uploading SAU8@PHTKA$7[]TV1_$MQU0.jpg…]()
![Uploading IMG_7775.PNG…]()

[2015-11-01 11:08] realcarlos commented on #83
![screen shot 2015-11-01 at 6 55 42 pm](https://cloud.githubusercontent.com/assets/13853/10868520/90bd5cae-80cb-11e5-8266-69bf41573ccd.png)
![sau8 phtka 7 tv1_ mqu0](https://cloud.githubusercontent.com/assets/13853/10868521/968c604e-80cb-11e5-840d-7cd71b099f26.jpg)
![Uploading IMG_7775.PNG…]()

[2015-11-02 21:13] zdenektopic opened #86 "Support for tvOS"
Is it planned?

[2015-11-02 21:18] bre7 commented on #86
There's a separate branch for the time being (#79)

[2015-11-02 21:18] #86 closed

[2015-11-09 22:34] bre7 commented on #83
Which color should it be ? Keep in mind that globalTheme methods affect almost all the UI components in the app

[2015-11-11 05:46] realcarlos commented on #83
I think that the color of checkmark should be flatBlueColor,but it becomes white.

[2015-11-11 16:14] bre7 commented on #83
That's because how UIBittons are themed.

[2015-11-22 05:12] RayHughes opened #87 "Gradient background and Swift"
Attempting to style a gradient background using the code below renders a solid black background.

[code]

Xcode 7
iOS9
Swift 2
SpriteKit

[2015-11-22 05:16] bre7 commented on #87
Hi Ray, would you mind uploading an screenshot ? Were you able to use `GradientColor(,,)` successfully somewhere else ?

[2015-11-22 05:25] PhillyRay commented on #87
No, I have not been able to render a gradient in my project nor an empty project. Installed with Pods

What it looks like:

<img width="309" alt="sc" src="https://cloud.githubusercontent.com/assets/4381883/11322209/0e824e2c-90af-11e5-8ed1-b5c966d6f850.png">

What the actual gradient should be:
<img width="309" alt="grad" src="https://cloud.githubusercontent.com/assets/4381883/11322218/76ace660-90a

[2015-11-22 05:55] bre7 commented on #87
I've just created a new project and checked out the latest release (using Carthage but it *should* be the same release as CP's) and got the expected result (2nd image).

[2015-11-22 06:29] PhillyRay commented on #87
Are you using SpriteKit?

[2015-11-22 06:34] bre7 commented on #87
No, didn't realize you edited your first post :P That's the issue then, I'll have a look later

[2015-11-22 06:43] PhillyRay commented on #87
Below is the code I'm using in the GameViewController. Disregard the above code as I was trying to place it somewhere else. However, same issue exists and it is rendered black.

Thank you for your help, please let me know if you find a solution.

[code]

[2015-11-23 12:39] caiotomazelli opened #88 "NSInvalidArgumentException when using setGlobalThemeUsingPrimaryColor:withContentStyle:"
I'm using iPhone 4S with iOS 7.1.1 installed.

My app works fine on 4S simulator, but when I run it in the real device, it crashes with the following error:

```Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** Illegal property type, c for appearance setter, _installAppearanceSwizzlesForSetter:'```

When I remove setGlobalTheme, the app runs without problems.

It

[2015-11-23 13:01] caiotomazelli commented on #88
A heads-up: Updating to iOS 9.1 solved the problem on iPhone 4S. But the issue stands: shouldn't the framework be compatible with iOS 7+?

[2015-11-23 13:04] bre7 commented on #88
It *should*, some methods might not be fully compatible. Thanks for the report Caio, I'll check it out later today

[2015-11-23 17:49] PhillyRay commented on #87
Any luck on getting this to work with sprite kit?

[2015-11-23 19:08] bre7 commented on #87
Haven't used SpriteKit much tbh. The only possible solutions I could find:
* [iOS Developer's Cookbook: Painting Sprite Kit](http://www.informit.com/articles/article.aspx?p=2234246)
* http://stackoverflow.com/a/19833309 (Would involve returning the gradient as a CGImage instead of UIColor)

[2015-11-25 11:15] Sittenstrolch opened #89 "ColorsFromImage returns white only"
Hello,

the above function does not work on a given image, neither with both true and false for the parameter isFlatScheme. The AverageColor function works fine on the same image.

What could lead to this problem?

[2015-11-25 22:44] ViccAlexander commented on #48
@jlama At first glance it looks like your suggestion should be used, but apparently Xcode throws the following warning if we do that:

That is why we're using `abs` instead of `fabs`.

[2015-11-25 22:45] #48 closed

[2015-11-26 06:21] ViccAlexander commented on #72
@skytoup  Sorry it's taken long for me to get to this. :disappointed: I've looked into it and unfortunately it looks like there's no way of correcting the look of the `UIMenuController` items without affecting the appearance of all `UIButtons`. Our best bet would be for Apple to allow `UIMenuController` to conform to the `UIAppearance` protocol. It seems to be more of an Apple limitation than anyt

[2015-11-26 06:21] #72 closed

[2015-11-26 06:25] ViccAlexander commented on #87
@RayHughes Let me know if you get this to work so we can post the solution on here. In the mean time @bre7 is correct. It doesn't seem to be a bug, and more of an external support issue. I'll close this for now, but if there's more interest for SpriteKit support we'll definitely look into it.

[2015-11-26 06:25] #87 closed

[2015-11-26 06:39] ViccAlexander commented on #89
@Sittenstrolch I just tried it on the following image and it worked fine. Can you post your code so I can see what you're doing?

![screen shot 2015-11-25 at 10 36 42 pm](https://cloud.githubusercontent.com/assets/1724674/11416692/1631a0b4-93c5-11e5-8e27-6d0a530495cf.png)

I added my code below, including the image I used.

[code]

![lambo](https://cloud.githubusercontent.com/assets/1724674/114167

[2015-11-26 06:58] ViccAlexander commented on #88
@caiotomazelli Thanks for reporting the issue. After much thought, I think the best option for Chameleon would be to discontinue iOS 7 support. (If you'd like to use it on devices running iOS 7 you should downgrade to 1.2.1).

The reason this makes sense is because there should be no reason to support iOS 7, when all devices can and should be upgrading to the latest versions. According to Apple, *

[2015-11-26 07:01] #88 closed

[2015-11-26 08:33] jlama commented on #48
What I wanted to point out is the missing closing ) after abs(r - g
`if (abs(r - g < 0.03f && fabs(r - b) < 0.03f))`
vs
`if (abs(r - g) < 0.03f && fabs(r - b) < 0.03f)`

[2015-11-26 08:43] RayHughes commented on #87
@ViccAlexander I have not been able to get it to work in Chameleon. Still returns black screen. I haven't tested outside of SpriteKit. I didn't need the full overhead of the framework, rather just the gradient portion, so I opted to create a gist based on one of the solutions above.

https://gist.github.com/RayHughes/3162fcbda6439893b539

Swift 2 Compatibility.

[code]

[2015-11-26 08:50] skytoup commented on #72
Thank~

[2015-11-26 09:08] ViccAlexander commented on #48
Ahh I see. Thanks @jlama. It seems that as of 2.0.4 it's been fixed. Appreciate it though.

[2015-11-26 09:10] ViccAlexander commented on #87
@RayHughes Sorry about Chameleon not playing nice with`SpriteKit`. :disappointed: Thanks for posting your gist though. I'm sure others will find it useful! Good luck on your project!

[2015-11-26 09:11] ViccAlexander commented on #72
@skytoup No worries, good luck on your project!

[2015-11-26 09:18] jlama commented on #48
It doesn't seem so: https://github.com/ViccAlexander/Chameleon/blob/master/Pod/Classes/Objective-C/UIColor%2BChameleonPrivate.m#L103

[2015-11-26 09:19] ViccAlexander commented on #75
@KiranPanesar Thanks for the kind words. Hmm... I'm glad you've figured out a solution. Can you see if making the changes suggested in pull request #76 solve it (without removing `CGContextDrawImage`) though.

[2015-11-26 10:55] ViccAlexander commented on #48
Oh wow you're right. It should be fixed in 2.0.5.

[2015-11-26 16:01] Sittenstrolch commented on #89
@ViccAlexander I think the main difference is that im using swift2.

I'm fetching the images from a url and pass them into a callback function. The images are displayed correctly and the average Color also works fine. But the ColorsFromImage returns white only.

This is how I integrated your Pod into my Project:

pod 'ChameleonFramework/Swift'

My Code:
[code]

And the output is:
[code]

And here

[2015-11-26 23:19] ViccAlexander commented on #83
If you're seeing unexpected results for `UIStatusBar`, make sure you set the following key `View controller-based status bar appearance` in your `info.plist` file to **NO**.

With regards to the `UITableViewCell`, I have found a solution. Add these two lines to your view controller and it should fix the problem:

[code]

The reason I haven't added this is because I haven't decided whether it shoul

[2015-11-26 23:19] #83 closed

[2015-11-27 00:43] ViccAlexander commented on #74
Looked into this and as @bre7 pointed out, there really isn't much that can be done until Apple fixes this themselves. Apple does however mention that if you'd like to customize the web content and controller, you're better off using `WKWebView` instead.

From [Apple Docs](https://developer.apple.com/library/prerelease/ios/documentation/SafariServices/Reference/SFSafariViewController_Ref/index.htm

[2015-11-27 00:49] bre7 commented on #89
@Sittenstrolch Could you try the *same* example in both objc and swift ? This shouldn't be the issue since swift functions are only shorthands

[2015-11-27 15:08] badgercl commented on #74
Actually, you are missing something really important.

The goal of SFSafariViewController is to show **external** links without leaving the current application. This controller runs in a separated thread and uses all the Safari-managed credentials. For instance if you have logged at Facebook in the Safari App, when you open a FB link using SFSafariViewController from your application, instead is s

[2015-11-30 10:22] Sittenstrolch commented on #89
I honestly don't really know how to use objective-c within my swift project. Have you tried it with swift?

[2015-11-30 15:54] #89 closed

[2015-11-30 15:59] bre7 commented on #89
My bad :hand: Fixed it... Thanks for the report @Sittenstrolch, try using `:head` in CocoaPods/carthage to

@ViccAlexander bump version with this fix when you can.

[2015-11-30 17:21] KiranPanesar commented on #75
Hi @ViccAlexander. Removing the cast for `calloc` won't fix the issue. We actually found that we can remove the memory leak if we disable decompression of our images by our caching library (`SDWebImage`). If you pass in a decompressed image into `CGContextDrawImage`, it'll leak memory. But if you pass in a _compressed_ image, `CGContextDrawImage` will be fine.

[2015-11-30 20:17] bre7 commented on #75
Have you tried Chameleon without SDWebImage and if needed, a networking lib only ? There's an open issue regarding memory leaks in SDWebImage (538).

[2015-11-30 21:12] ViccAlexander commented on #89
@bre7 Gotcha. @Sittenstrolch Chameleon 2.0.6 is now available. Updating should fix your issue. :+1:

[2015-12-02 12:27] Sittenstrolch commented on #89
Great! It works ;)

[2015-12-05 04:01] vinnyoodles opened #92 "Add font color change"
[code]

Added this for fun and found that some of the darker colors left the text as black and made it harder to read

But besides that, I found this pod to super useful and very easy to install.

[2015-12-05 04:08] vinnyoodles commented on #92
Just found the `Theme Methods` which looks like it does change the font color to fit better, but the README doesn't show the swift commands

[2015-12-05 13:28] bre7 commented on #92
Hi vin, there's no api for that in Chameleon, even in objc. It changes the tint color of some components.

[2015-12-07 14:16] remotevision opened #93 "Change UIButton style with GlobalTheme"
What is the recommended way for overriding a style or color set by applying a global theme? I like all of the settings, but just looking to customize the ```UIButton``` view a little. I tried creating a ```UIButton``` extension, and I know technically it is not advised to subclass a ```UIButton``` but even when I do I don't get the full results I'm looking for. Thoughts?

[code]

current approach:

[2015-12-09 21:07] remotevision commented on #93
I simply made use of the ```appearanceWhenContainedInInstancesOfClasses``` function available. DOH!

```UIButton.appearanceWhenContainedInInstancesOfClasses([SignupController.self]).backgroundColor = ClearColor()```

[2015-12-09 21:07] #93 closed

[2015-12-09 21:23] #92 closed

[2015-12-18 03:34] gbegen opened #95 "Code for contrasting status bar style breaks status bar style on navigation controllers, even if not using contrasting status bar style."
Based on [this StackOverflow answer](http://stackoverflow.com/a/19513714/10223), we set  `navigationBar.barStyle` on our UINavigationController to control the status bar style. When we added Chameleon, we started getting incorrect status bar coloring even though we never used Chameleon to set a contrasting status bar style anywhere in our app.

I think that https://github.com/ViccAlexander/Chamele

[2015-12-26 04:43] chika-kasymov opened #96 "Add Chameleon to app extension"
Hello! I have problem after adding Chameleon with Cocoapods to keyboard app extension. When I compile Xcode project, there are errors like `'sharedApplication' is unavailable: not available on iOS (App Extension)`. I installed PureLayout and solved this problem with code on repo's wiki:

[code]

Is it possible to solve problem with similar code snippet?

[2016-01-04 20:47] juancazalla opened #97 "Different colors between the palette and the library"
I'm using the color palette in Xcode and the colors are different from those set by code. For example flatRedColor

[2016-01-04 20:56] bre7 commented on #97
When applying to color to the navBar or any view ? Is `translucent` enabled ?

[2016-01-05 00:09] juancazalla commented on #97
In any view. With two different views, I set the background of a view with the palette and the other by code and they are different

[2016-01-05 05:00] bre7 commented on #97
Would you mind doing the following:
1. Upload a screenshot of both views
2. Paste the console output of `view.backgroundColor` for each view

The only thing I can think of is that the pallete might be outdated (which I highly doubt it)... cc @ViccAlexander

[2016-01-07 01:38] ViccAlexander commented on #97
@juancazalla I ran a few tests and weird things are def happening. I built a quick project to show the differences between setting a view's `backgroundColor` programmatically, and setting it via the palette. Here's the results:

![simulator screen shot jan 6 2016 3 51 19 pm](https://cloud.githubusercontent.com/assets/1724674/12158268/5c21bf4e-b48d-11e5-9008-f9f9133756ab.png)

You are correct, they

[2016-01-07 01:41] ViccAlexander commented on #95
That seems to make sense. Thanks for this. I'll try to update it asap.

[2016-01-07 01:42] ViccAlexander commented on #96
Let me take a look, and I'll get back to you on this. Thanks for bringing it up!

[2016-01-07 10:15] Sephiroth87 commented on #97
There's definitely something funky happening in Xcode itself, just selecting any color in the picker and changing from RGB to HSB sliders, the color will keep changing values and get progressively darker...

[2016-01-17 19:09] AnthonyOSX opened #98 "Setting theme causes coloring of UITableViewCell indicators"
Should be ignored on accessory buttons (as well as tint color set to the actual main color).

![image](https://cloud.githubusercontent.com/assets/6828951/12379224/cf3bf3b6-bd23-11e5-8b30-6f8d3c46af2e.png)

[2016-01-20 06:19] bharatkrishna opened #99 "TableViewCell accessory color when using theme"
I am setting a global theme color in AppDelegate.swift:

This makes all buttons and accessory in TablwViewCells to have blue background which makes it look odd:

![screen shot 2016-01-19 at 10 04 43 pm](https://cloud.githubusercontent.com/assets/240429/12441191/59cf1748-bef9-11e5-8d45-19bec6387e6a.png)

Can TablwViewCells accessories be excluded from the theme colors? I intend to keep the color of

[2016-01-21 08:54] aocenas commented on #95
I do not usually leave +1s as I know nobody really likes them, but I spent literally hours trying to change status bar color, using different approaches and their combinations until I found out this was the issue. I use chameleon mainly for flat colors and some utils, and it is definitely great piece of work, but I did not even know that it adds some code to UINavigationController (my bad not read

[2016-01-22 06:23] ViccAlexander commented on #95
I find +1's super helpful. Helps prioritize issues. With that said, sorry for the trouble @aocenas. :disappointed: I'll **definitely** update this over the weekend, along with a few other things.

[2016-01-24 01:13] AnthonyOSX commented on #99
Duplicate of #98

[2016-01-25 23:17] ViccAlexander commented on #95
@gbegen @aocenas Let me know of the issue has been resolved in `2.1.0`

[2016-01-26 00:40] jonlambert commented on #98
+1. Would love to know if there's a workaround to this.

[2016-01-26 02:47] gabovanlugo commented on #32
Thanks for this ViccAlexander. Awesome Answer!

[2016-01-26 04:39] VictorK commented on #32
Very helpful!

On Mon, Jan 25, 2016 at 9:47 PM Gabo Lugo <notifications@github.com> wrote:

[2016-01-26 14:09] AnthonyOSX commented on #98
@jonlambert I'm currently getting around this problem by using the following:
[code]
This is, however, not a long term solution.

[2016-01-26 14:57] aocenas commented on #95
@ViccAlexander still does not seem to be fixed. This is the code I am using for testing:
[code]
Using navigationBar.barStyle seems like the correct way to do this (http://stackoverflow.com/a/19513714). This code still generates white status bar without chamelon, but black status bar with chameleon 2.1.0 installed.

[2016-01-28 06:20] bharatkrishna commented on #99
Closing as duplicate of https://github.com/ViccAlexander/Chameleon/issues/98

[2016-01-28 06:20] #99 closed

[2016-01-29 00:20] aleufms opened #100 "Mimic Palette Class from Android"
It would be cool if Chamelon got support to extract the Vibrant and Muted colors from an image.

Class in Android: https://developer.android.com/reference/android/support/v7/graphics/Palette.html
A JS implementation: https://jariz.github.io/vibrant.js/

[2016-02-06 07:49] sumowesley commented on #98
Outstanding tip to provide the work round the issue by @AnthonyOSX. Objective-C version below:
[code]

[2016-02-12 19:17] bre7 commented on #100
Try one of these libs: https://github.com/search?l=Swift&q=android+Palette&ref=searchresults&type=Repositories&utf8=%E2%9C%93

[2016-02-12 22:49] sumowesley opened #102 "Impact of global theme setting"
Hi there.

I have set a global theme by a colour stored in my settings singleton using the following:

[code]
This is Xcode 7.2.1 and a target of IOS 9.2.

The scheme colour is from a choice of the darker colours that form part of the Chameleon flat colours.

The theme gives some much needed punch to the navigationControllers in particular. There seem to be a few side effects to applying the theme

[2016-02-13 00:51] bre7 commented on #102
Impact of Chameleon on SFSafariViewController was previously reported in https://github.com/ViccAlexander/Chameleon/issues/74. The last comment has a workaround, as stated in the README, Themes are still in beta.

[2016-02-13 06:44] sumowesley commented on #102
Good of you to let me know. I appreciate that themes are in beta but the fix will ease my eyes while I test my app.

[2016-02-13 16:54] #102 closed

[2016-02-13 23:07] Gargam commented on #74
Hello,

This also affect video player controls (triggered from youtube iframe in WKWebView in my case, but I think it will do the same for any other player that show up).

[2016-03-12 16:25] MariamNers commented on #60
Hi! I am having the same kind of issue, my project is in swift and I added Chameleon folder to my project, did everything you mentioned in your docs and added #import "Chameleon.h" into my bridging header, but unfortunately it gives me this error : 'Chameleon_.h' file not found. What am I doing wrong?

[2016-03-12 17:07] bre7 commented on #60
Have you followed the instructions mentioned in the installation section: https://github.com/ViccAlexander/Chameleon#installation ?

[2016-03-12 17:21] MariamNers commented on #60
Yes, I was actually adding it manually, but even when i add it via cocoa pods i still get "No such module 'ChameleonFramework''"

[2016-03-12 17:40] bre7 commented on #60
You might be doing something wrong. I've just tested both CocoaPods and Carthage with a new project and it worked.

[2016-03-12 17:52] MariamNers commented on #60
Well, I dont normally use cocoa pods, nevertheless i retried it again, and now it gives me this error "Cannot load underlying module for 'ChameleonFramework'".. what am i doing wrong? I can see in my folder I do have a newly created workspace, but it still doesn't work.

[2016-03-12 23:09] bre7 commented on #60
I usually use Carthage. Your issue seems not to be related to Chameleon itself as far as I can tell. Check google, stackoverflow, or CocoaPods issues.

[2016-03-12 23:10] #100 closed

[2016-03-13 00:43] bre7 commented on #97
Could you guys test the new palette I uploaded ? Available for download in #107 (Converted all colors to strings, json and finally CLR)

[2016-03-13 16:12] MariamNers commented on #60
restarted my laptop without changing anything and it magically worked.... Xcode sorcery..

[2016-03-14 09:17] MariamNers opened #109 "How to change color of the status bar?"
I have tried a couple of things before asking this question on here, but nothing worked. So since I am using your framework, does anyone know how I can change the color of the status bar?

![screen shot 2016-03-13 at 22 06 48](https://cloud.githubusercontent.com/assets/17073482/13739871/892061ea-e9c5-11e5-9b16-0da2ef1af56c.png)

[2016-03-14 16:39] bre7 commented on #109
Do you want to change the style or the "background color" ? Style change allows you to set the text to either black or white. If you want to add a background color you need to create a view

[2016-03-19 23:11] MariamNers commented on #109
Thank you, fixed it

[2016-03-19 23:16] MariamNers opened #110 "'appearanceWhenContainedIn:' is deprecated: first deprecated in iOS 9.0"
Out of nowhere I am getting this warning when I run my project. I have changed absolutely nothing and the framework was working perfectly for me before this happened.

The warning is this:  ` 'appearanceWhenContainedIn:' is deprecated: first deprecated in iOS 9.0 - Use +appearanceWhenContainedInInstancesOfClasses: instead`

This causes my simulator to move ridiculously slow from one controller to

[2016-03-21 01:29] bre7 commented on #110
Suggestion: Use the new API and check whether it does fix the problem or not. As the readme states, themes are still in beta

[2016-03-21 09:08] MariamNers commented on #110
You mean the Chameleon API? If yes, then I use the latest version of it on github. But now I have got another error `Target 'Pods' of project 'Pods' was rejected as an implicit dependency for 'Pods.framework' because its architectures 'i386' didn't contain all required architectures 'i386 x86_64'` that stops my project from running. I have got only Chameleon Framework in my pod file. It then says

[2016-03-31 22:27] stephenkopylov opened #111 "Radial gradients"
Hi!
In "UIColor+Chameleon.m", in method
`+ (UIColor *)colorWithGradientStyle:(UIGradientStyle)gradientStyle withFrame:(CGRect)frame andColors:(NSArray *)colors;`
in line
`float myRadius = MIN(frame.size.width, frame.size.height) * 1.0;`
maybe you means diameter? because radius must be a half of side, so, as I think code with "* 0.5" shows better results. Meantime now radial gradients look little b

[2016-03-31 22:38] stephenkopylov commented on #111
Pull request created https://github.com/ViccAlexander/Chameleon/pull/112

[2016-04-04 07:51] ViccAlexander commented on #97
Hey @bre7 Thanks for holding down the fort. I've been crazy busy lately, but I'm back now. Let me test it and get back to you.

[2016-04-04 07:54] ViccAlexander commented on #98
Nice! Thanks @AnthonyOSX and @sumowesley . I'll definitely add this to the to do list for the next update.

[2016-04-04 09:07] #109 closed

[2016-04-04 09:12] ViccAlexander commented on #110
Chameleon currently is using the recently deprecated methods. However the Objective-C version silences these warnings. It could be that the swift version does not (@bre7 confirmation?). Also for the second error make sure you have the following line at the beginning of your pod file `use_frameworks!` and check [this](https://github.com/CocoaPods/CocoaPods/issues/2053) out.

Sorry for getting back

[2016-04-04 09:15] ViccAlexander commented on #111
Thanks @stephenkopylov will verify just to make sure. If everything is well, I'll accept it. Cheers!

[2016-04-04 09:15] #75 closed

[2016-04-04 14:10] bre7 commented on #110
True, `appearanceWhenContainedInInstancesOfClasses` is deprecated.

[2016-04-04 15:59] bre7 commented on #97
np :wink:

[2016-04-15 04:10] oriyentel commented on #96
I would also like to know the feasibility of using Chameleon on app extensions. Currently trying to use it for an Apple Watch extension and getting a `Module file was created for incompatible target i386-apple-ios8.0` error

[2016-04-25 11:18] robertoferraz opened #114 "Memory leak while creating UIColor with gradient"
Hey guys, great library, I will be soon releasing an App using the amazing features it offers. I would like to bring a small issue to you guys, I was testing the app and found that there is a leak while setting the background color of a view

[code]

<img width="1274" alt="screen shot 2016-04-25 at 13 14 38" src="https://cloud.githubusercontent.com/assets/270483/14782154/cec0aa14-0ae7-11e6-9e71-56

[2016-04-28 21:38] DavidGagne opened #115 "Swift and setGlobalThemeUsingPrimaryColor"
Is there a way to implement the setGlobalThemeUsingPrimaryColor feature in Swift or is that only available in Obj-C?

[2016-04-28 21:43] bre7 commented on #115
You can use objc code in swift.

E.g:
[code]

[2016-04-28 22:45] DavidGagne commented on #115
Oh, awesome. And ... Would you drop that into the AppDelegate didFinishLaunchingWithOptions? How can you set it to apply to the entire app?

[2016-04-28 22:47] bre7 commented on #115
Yeah, you can use the method in `didFinishLaunchingWithOptions`

[2016-04-28 22:47] #115 closed

[2016-04-28 22:52] DavidGagne commented on #115
Using FlatPlum() doesn't work, but when I tried with UIColor.flatSandColor() it does compile.
Thanks!

[2016-04-28 22:54] bre7 commented on #115
Follow the Installation instructions, FlatPlum() is a shorthand method located in the swift file.

[2016-04-28 23:07] DavidGagne commented on #115
Ah. I used pod 'ChameleonFramework' instead of pod 'ChameleonFramework/Swift'.

Now the shorthand methods are working.

[2016-04-28 23:08] bre7 commented on #115
:wink:

[2016-05-07 10:18] onomated commented on #95
@aocenas  Had the same issue with chameleon 2.1.0 as well.  After debugging for a while, I found that you also have to set the [navigation controller status bar style in chameleon](Chameleon/Pod/Classes/Objective-C/UINavigationController+Chameleon.h).

In my case, in Obj-C this worked for me:
[code]

[2016-05-11 19:51] connectdotz commented on #98
I like the theme setting very much except the UIButton background..., end up had to manually set it to Clear as many have suggested. However this does not work for the case when we wanted different background colors for the buttons in the same container...

Giving there is no way to "unset" the UIAppearance once it is set, it would be great if we can pick and choose what entity (UIButton, UILabel

[2016-05-26 14:57] pprevalon opened #116 "Gradient"
can you show me an example of how the gradient syntax should be written i checked out the manual but i was not able to understand it. thanks in advance.

[2016-06-05 15:36] luiyezheng opened #117 "Colors from Image got repeat color"
I found If I generate flat colors from image, sometimes I would get repeat colors.

For example:
<img width="175" alt="2016-06-05 11 32 26" src="https://cloud.githubusercontent.com/assets/10849914/15806435/dd7f4386-2b75-11e6-945c-5ae1e9a10f32.png">

I used ` NSArray(ofColorsFromImage: self.imageView.image, withFlatScheme: true)` to generate the colors. Is this a normal behavior? Or Did I do someth

[2016-06-05 17:03] stephenkopylov commented on #111
Hi, man!
What about this bug?

[2016-06-13 16:31] A1exandre commented on #97
Hi guys,

I still have the same issue with colors that look different depending on when I set them from Xcode's palette and when I set them programmatically.

Has anyone figured this out?

[2016-06-21 01:10] shusain93 commented on #74
This is the code I got to work perfectly with `SFSafariViewController` however I can't seem to get the buttons to be the right bluish color but it works.

 `Chameleon.setGlobalThemeUsingPrimaryColor(nil, withSecondaryColor: nil, andContentStyle: UIContentStyle.dark)`

[2016-06-24 01:36] shusain93 commented on #74
Three days later I'd like to make an update that this did not work perfectly and seems to have completely broken the performance of `SFSafariViewController`. Can we get this issue reopened? It seems that iOS 10 has somehow made this worse. You get the lovely duo of screwy UI and buggy performance.

[2016-06-24 19:33] seieibob commented on #117
I'd venture a guess that you'd have to set `withFlatScheme` to `false`. What you're using grabs the most common colors, and I'd venture that most of them are greenish in your sample image. There aren't that many shades of green in the flat color set, so when they're matched to the nearest flat color you'll get duplicates.

From the readme:

[2016-06-27 15:21] seieibob commented on #98
Just wanted to note here that the same thing happens to the clipboard and undo/redo buttons at the top of the keyboard on an iPad. Setting the secondary color to UIColor.clearColor works if you aren't using your secondary color for anything else.

[2016-07-08 01:56] bayarmanlai commented on #32
Change angle still haven't applied yet in 2.1

[2016-07-08 02:16] bayarmanlai opened #122 "Error when apply gradient color to view backgroundColor"
[code]

[2016-07-08 02:57] bre7 commented on #122
Try unwrapping the UIColors.  Nullability annontations are missing, but `UIColor(hexString:)` should return `UIColor?`

[2016-07-20 16:03] emailatravi opened #123 "Add Extension support"
Hi,

`[UIApplication sharedApplication]` does not work in Extension. Please update.

[2016-07-22 03:37] bre7 commented on #123
Dupe #96

[2016-07-22 03:37] #123 closed

[2016-07-27 04:41] gtulga opened #126 "Install swift 3 version by cocoapods?"
Hi,

How to install swift 3 version by cocoapods?

Thanks

[2016-07-31 07:34] nikitaame opened #128 "FontAwesome"
Love the framework! Works like a charm except when setting theme with font it'll overwrite FontAwesome. Could you perhaps make it so that it doesn't change anything that is FontAwesome?

[2016-07-31 21:02] bre7 commented on #126
This is related to CocoaPods' usage, not Chamelon itself. You need to specify a fork (check #124)

[2016-07-31 21:02] #126 closed

[2016-07-31 21:04] bre7 commented on #128
Hi @nikitaame, glad you found the lib useful. Sadly, using Themes (for the time being) is all or nothing.

[2016-08-01 05:43] arashdoescode opened #129 "How do i do the theme in one line in swift?"
Im confused regarding the content style in the theme, how would i get the content style?

[2016-08-01 22:11] bre7 commented on #129
Not sure what you mean. Are you asking how to use the Theme methods ? Docs: https://github.com/ViccAlexander/Chameleon#theme-methods

E.g:
[code]

[2016-08-03 09:01] matanporeh opened #131 "setting theme changes the copy/ paste toolbar"

[2016-08-04 22:07] levibostian opened #132 "Using ARGB hex code causes crash."
Chameleon v2.1.0 Swift implementation.

Creating a UIColor in my app via HexColor. I am however, not using RGB but ARGB:

[code]

When I go to access primaryColor, exception thrown in my app in ChameleonShorthand.swift lines 81 - 83:

[code]

When I remove "FF" to become a RGB code, no exception.

---

Unfortunately, this is the full stacktrace that I have. I am not sure how to get you any more in

[2016-08-04 23:55] bre7 commented on #132
Hi @levibostian ,

`HexColor(,_)` is supposed to take 2 arguments: hexcode of a color (RGB only), and then the alpha as a 2nd argument. Poor documentation in this case and lack of parameter checking caused an exception.

[2016-08-04 23:58] bre7 commented on #131
Works as intended afaik. Global theme methods are quite invasive and in beta atm. There are similar reports in the backlog.

[2016-08-05 18:21] levibostian commented on #132
That is what I figured. Added as an issue to add some error handling around it.

Thanks!

[2016-08-16 12:15] GaborSimonGreentube commented on #114
I stumbled upon the same problem, and after fiddling around a little bit, I've found this solution to work: (at least for my use cases)
Because seemingly UIGraphicsBeginImageContextWithOptions or UIGraphicsEndImageContext retains reference to the CGContextRef (that it uses inside) in static methods, I just switched those parts of the code to directly use CGContextRefs instead.

[code]

Beware that

[2016-08-17 01:33] SuperWomble opened #134 "ColorsFromImage - Missing, incorrect color values when not using Flat color mode"
(Firstly, fantastic project. Big thanks!)

I created a sample PNG. It has a transparent background, and a swatch of 5 (non-flat) solid colors.

![swatch](https://cloud.githubusercontent.com/assets/20920689/17721224/d3c60a48-6467-11e6-9411-74bd7a89ac1a.png)

I used the following code to get the colors of the image:

        let colors = ColorsFromImage(image, withFlatScheme: false)

Alas, the resul

[2016-08-23 07:57] SikandAlex opened #136 "Color Picker not working"
I just booted up my computer to work on a project and the Chameleon palette is missing from the color picker. I can still set colors programmatically but can no longer select them from the picker. How can I fix this?

[2016-08-23 07:58] #136 closed

[2016-08-23 07:59] SikandAlex commented on #136
I changed computers and forgot to install the storyboard add on, my fault

[2016-08-23 14:43] bre7 commented on #136
:+1:

[2016-08-30 07:43] tehjord commented on #74
It looks like any solution might be too hackish, but ++ for a fix for to this.

Using a WKWebView is definitely not a proper alternative to SFSafariViewController.

[2016-08-31 23:07] mathmatrix828 opened #137 "[Feature/Update] Update to Swift v3 Compliance"
Swift 3 changes the name convention to lowerCamelCase
[code]
Updating Chameleon to this convention, in addition to making them members of a class instead of a function, with put this framework into compliance.
[code]

Awesome job overall though! I love this framework!

[2016-08-31 23:14] bre7 commented on #137
PRs are welcome :wink: I don't have the time to apply the swift 3 guidelines and neither does Vic (probably)

[2016-09-01 14:26] Dharin-shah commented on #115
Hey @bre7  I cant seem to call **setGlobalThemeUsingPrimaryColor** using the viewcontroller's instance (self) in swift.

[2016-09-01 14:29] bre7 commented on #115
Hi, just to be sure: have you followed the installation instructions ? Are you able to call `FlatPlum()` for instance ?

[2016-09-01 14:33] Dharin-shah commented on #115
Yup, i have been using flat colors for months, i decided to use the theme feature and got this, Although i can set the theme globally however since i have a tab navigation to other view controllers this messes up my ui

[2016-09-01 14:37] bre7 commented on #115
https://github.com/ViccAlexander/Chameleon#theme-methods

`setGlobalThemeUsingPrimaryColor` is a static method on Chameleon.
`setThemeUsingPrimaryColor` is an instance method of UIViewController.

[2016-09-01 14:40] Dharin-shah commented on #115
Oops oops, I am really sorry for my ignorance, that was stupid. Thank You. Just another question, how do I set the font name but its attribute (i.e bold ,italic) could be inferred from the IB

[2016-09-01 14:43] bre7 commented on #115
What do you mean ?

[2016-09-06 07:52] AlexMcArdle commented on #137
#135 fixes this. Please merge.

[2016-09-06 20:12] bre7 commented on #137
👍 Shorthand methods (some at least) aren't necessary imo (e.g: `FlatPurple()` ~> `UIColor.flatPurple` or just `.flatPurple`)

cc @ViccAlexander

[2016-09-06 23:04] mathmatrix828 commented on #137
@AlexMcArdle your PR doesn't address the issue I brought up

[2016-09-06 23:13] bre7 commented on #137
You are welcome to change class functions in objc to stored variables

[2016-09-12 23:58] avyayv opened #138 "Navigation Bar title and back button color not changing with setThemeUsingPrimaryColor"
When I do  `setThemeUsingPrimaryColor(arrayOfColors[2] as! UIColor, withSecondaryColor: arrayOfColors[1] as! UIColor, andContentStyle: .Contrast)`, where arrayOfColors is an array of colors based on an image, I get the following for my Navigation Bar
(https://cloud.githubusercontent.com/assets/18251101/18456967/f249ce9e-7909-11e6-8cda-dbf1d47227c5.png), where the text isn't that great looking. I d

[2016-09-15 08:02] #74 closed

[2016-09-15 08:02] #22 closed

[2016-09-15 08:07] ViccAlexander commented on #96
Haven't had time to look at it, but will make it happen this weekend.

[2016-09-15 08:09] ViccAlexander commented on #97
@bre7  It's been a while, but how would we incorporate this automatically into the latest Chameleon update.

[2016-09-15 08:10] #98 closed

[2016-09-15 08:21] #111 closed

[2016-09-15 08:39] #97 closed

[2016-09-15 08:39] #110 closed

[2016-09-15 08:41] ViccAlexander commented on #114
@robertoferraz Let me know if you've found a solution, if not I can take a look this week.

[2016-09-15 08:41] ViccAlexander commented on #116
@pprevalon Sorry for the late response! Do you still need some help?

[2016-09-15 08:43] ViccAlexander commented on #117
Thanks for stepping in @seieibob. Perfect answer.

[2016-09-15 08:43] #117 closed

[2016-09-15 08:43] #122 closed

[2016-09-15 08:44] #128 closed

[2016-09-15 08:44] #129 closed

[2016-09-15 08:44] #131 closed

[2016-09-15 08:45] ViccAlexander commented on #132
Thanks for sharing @levibostian. Will add it to the TODO list.

[2016-09-15 08:47] ViccAlexander commented on #134
This makes a lot of sense of actually. If you've figured it out and have some free time it would be great if you could submit a pull request. If not either @bre7 or I can give it a shot.

[2016-09-15 08:49] ViccAlexander commented on #137
Haven't had time to dwell into Swift, so giving you full reign over anything Swift @bre7 😃

[2016-09-15 08:51] #95 closed

[2016-09-15 15:00] bre7 commented on #97
The issue is the SB plugin so the clrs *supposedly* fixed the palette differences

[2016-09-15 17:04] zhugejunwei opened #139 "Swift3, No such module 'ChameleonFramework'"
I have installed ChameleonFramework through cocoaPods, but this error shows up on this line:

`import ChameleonFramework`.

[2016-09-15 17:05] zhugejunwei commented on #139
FYI, my Podfile:

platform :ios, '9.0'
use_frameworks!

target '8 Minute Workout' do

pod 'ChameleonFramework', '~> 2.1.0'
pod 'MZTimerLabel', '~> 0.5.4'
pod "youtube-ios-player-helper"

end

[2016-09-15 17:10] bre7 commented on #139
The **Swift 3** branch hasn't been merged into master yet so try specifying the branch in your Podfile. Reopen if it pops up again though it doesn't seem to be an issue with Chameleon but rather your Podfile.

[2016-09-15 17:10] #139 closed

[2016-09-15 17:11] bre7 commented on #137
👍 If no one submits a PR, I'll try to get on it as soon as I can

[2016-09-15 17:20] bre7 commented on #138
What was the expected result ?

Here's how Chameleon themes the Nav bar:
[code]

[2016-09-15 18:18] ViccAlexander commented on #138
@avyayv Are you sure you're not overriding the tint color somewhere else in your code?

[2016-09-15 19:34] zhugejunwei commented on #139
Thank you for your suggestion. But it still can't work. I specified the branch in my Podfile, and my Podfile is as bellow:

--------------------------------------------
platform :ios, '9.0'
use_frameworks!

target '8 Minute Workout' do

pod 'ChameleonFramework', :git => 'https://github.com/ViccAlexander/Chameleon.git', :branch => 'swift3'
pod 'MZTimerLabel', '~> 0.5.4' ## 计数器
pod "youtube-ios-play

[2016-09-15 22:30] avyayv commented on #138
Yes I'm sure I'm not, but the way I fixed my personal issue was that I used contrastColor.

[2016-09-16 20:41] ViccAlexander commented on #137
Leaving this issue open even though #135 was merged. That way we can try to get the changes @mathmatrix828 suggested into Chameleon.

[2016-09-17 11:38] ViccAlexander commented on #96
@oriyentel  You can now use Chameleon in your app extensions. Check out the **app-extension** branch. @bre7 Feel free to look it over to make sure I didn't make any dangerous changes to the .swift files. I did remove several shorthand methods.

[2016-09-17 11:41] ViccAlexander commented on #116
Closing for now since there's no response. If you still have this issue feel free to open up a new issue.

[2016-09-17 11:41] #116 closed

[2016-09-17 11:44] ViccAlexander commented on #137
@mathmatrix828 Check out the app-extension branch's [ChameleonShorthand.swift](https://github.com/ViccAlexander/Chameleon/blob/app-extension/Pod/Classes/Swift/ChameleonShorthand.swift) file. I've gone ahead and removed several shorthand files to conform to the new Swift 3 standards. You can now call methods using `.flatPurple()`. Also what did you mean by making them members of a class instead of

[2016-09-17 15:19] bre7 commented on #137
Colors are now variables though. So it should be `.flatPurple`

[2016-09-17 17:33] mathmatrix828 commented on #137
Exactly

[2016-09-17 17:34] mathmatrix828 commented on #137
Looks like the updated files are Swift-3 compliant, great job guys!

[2016-09-19 01:02] oriyentel commented on #87
Disappointed to see that this issue was never resolved form SpriteKit. Was hoping to use a nice gradient to create a very basic single point perspective for a very basic game.

[2016-09-23 08:35] jojonarte opened #143 "remove theme from specific view controller?"
I've set a global theme is there a way to set a specific view controller's theme to default?

[2016-09-27 18:06] jspenc72 commented on #137
Any update on Swift 3 compatibility @bre7 ?

[2016-09-27 18:08] bre7 commented on #137
Check #142. Branch will be merged after the conflicts are resolved.

[2016-09-28 19:32] bre7 commented on #143
No. You can either apply a theme to one VC, or all. But there's no API to remove it once applied.

[2016-09-28 19:32] #143 closed

[2016-09-28 19:34] bre7 commented on #132
Fix: UIColor(hexString...) should return `nullable UIColor*`

[2016-09-28 19:43] #132 closed

[2016-09-28 20:54] bre7 commented on #137
Merged.

[2016-09-28 20:54] #137 closed

[2016-09-28 21:14] bre7 commented on #114
Unable to reproduce on Demo project. Reopen if it's still happening.

[2016-09-28 21:14] #114 closed

[2016-09-30 07:08] Urkman commented on #96
I can't use this, as I'm using the swift-3 branch in my main app.

I get this from CocoaPods:

[2016-10-05 14:18] delox opened #148 "Swift 2.0"
Which release supports Swift 2.0?

[2016-10-05 14:39] bre7 commented on #148
Can't remember. You might want to check using CocoaPods and the last 5 releases.

[2016-10-05 20:36] rajatk opened #149 "Update pods to 2.2?"
not able to get `ChameleonFramework/Swift (~> 2.2.0)` through Cocoapods. Is a new release or pod change coming soon?

[2016-10-05 20:43] bre7 commented on #149
https://github.com/ViccAlexander/Chameleon/releases 2.2 was just a tag. Try again or use master

[2016-10-05 20:43] #149 closed

[2016-10-05 20:43] #148 closed

[2016-10-05 20:51] rajatk commented on #149
still no luck with Pod, it can't find that release.

Meanwhile, i'll use master. Was on swift3 branch which is now behind so master should work.

[2016-10-13 01:59] MinsungHuh commented on #138
I also not chaning with setThemeUsingprimaryColor, swift 3, iOS 10, Xcode 8.

[2016-10-13 15:30] bre7 commented on #138
Confirmed.

Steps to reproduce:
1. Use Demo project
2. Remove theme code inside AppDelegate
3. Add the following code to ViewController.swift
[code]

Results:
* Pink color NavigationBar (set in Main.storyboard)
* Default tint color ("blue") Back button

Expected Results:
* NavigationBar should be colored with `.flatPlum`
* Back button should be colored with `white` (since we are using `.contrast`

[2016-10-14 01:42] MinsungHuh commented on #138
<img width="623" alt="chameleon_application" src="https://cloud.githubusercontent.com/assets/8328382/19372815/3e759c40-91fa-11e6-947d-a0296dfcba50.png">
<img width="624" alt="chameleon_viewcontroller" src="https://cloud.githubusercontent.com/assets/8328382/19372822/4623421c-91fa-11e6-8af1-200301d35552.png">
![chameleon_result](https://cloud.githubusercontent.com/assets/8328382/19372868/8c63a94c-91

[2016-10-15 06:04] wx0165927473 opened #150 "Is there a timeline for merging swift 3 branch into master branch?"
Thanks

[2016-10-16 01:32] bre7 commented on #150
Hi Xin,

Did you check the project first ? It's already swift3 compatible. The swift3 branch is just an old branch.

[2016-10-16 01:32] #150 closed

[2016-10-16 01:51] wx0165927473 commented on #150
I installed by using cocoapods. When I compile and build the project, it still remind me to covert to Swift 3. BTW I used master branch. Here is the pod file:
use_frameworks!
target “GameTracker” do
     pod 'ChameleonFramework/Swift'
end

Any suggestions? Thanks

[2016-10-16 01:53] bre7 commented on #150
You aren't using master in that Podfile

[2016-10-18 04:05] mengheangrat opened #152 "Crash App when push view"

[2016-10-18 16:00] bre7 commented on #152
Could you provide context to the crash ? Sample code ?

[2016-10-18 18:38] AdrianBinDC opened #153 "Chameleon.setGlobalThemeUsingPrimaryColor adds background to UITableView accessory"
This code is in my AppDelegate.swift file:
[code]

I also tried with this:
`Chameleon.setGlobalThemeUsingPrimaryColor(FlatBlueDark(), with: .light)`

It works beautifully until I get to my `UITableView`. On my `UITableView`, the color of my `checkmark` accessory is displayed as the theme color and the checkmark is inverted. **How do I get the checkmark to display just the theme color without a bac

[2016-10-18 19:42] inzinga opened #154 "Controlling UIWebView video player button appearance"
Within my App, I set a global theme using:

[code]

Then, clean up the appearance of several UIButton's using:

[code]

However, when playing any video inside a UIWebView, I'm unable to modify the global theme applied to buttons within the UIWebView-based video player.   Any known technique to apply a clear color to the background of these specific buttons?

[2016-10-18 19:45] bre7 commented on #154
Dupe of #98

Similar to #74 #102

[2016-10-18 19:47] bre7 commented on #153
Dupe of #98

Similar to #74 #102

[2016-10-18 19:47] #153 closed

[2016-10-19 03:30] mengheangrat commented on #152
Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Only RGBA or White color spaces are supported in this situation.'

[2016-10-19 03:31] mengheangrat commented on #152
navigationBarAppearace.barTintColor = GradientColor(.topToBottom, frame: CGRect(x: 0, y: 0, width: 100, height: 100), colors: [UIColor.red,UIColor.lightGray, UIColor.blue]);

[2016-10-19 04:11] bre7 commented on #152
Not sure what you are sharing. Line that caused the crash ? Where is it located ?
Works without any problems on the sample project. Provide a demo project or we won't be able to help out.

[2016-10-19 04:16] #152 closed

[2016-10-19 13:08] allenlinli opened #155 "Request for Swift 3.0 support"
I am using ChameleonFramework (2.1.0), but it doesn't support Swift 3.0.
Is there anyone upgrading Chameleon?

Cheers.

[2016-10-19 13:10] bre7 commented on #155
Dupe #150. Please use the search function before submitting a new issue.

[2016-10-19 13:10] #155 closed

[2016-10-20 02:57] allenlinli commented on #155
Sorry mate, I'll do the search next time.

[2016-10-20 03:08] allenlinli commented on #155
I am sorry, I will do the search next time. Thanks.

[2016-10-20 03:17] allenlinli commented on #150
Excuse me, how to use master in that podfile?
Shouldn't it be the master by default?

[2016-10-20 05:36] allenlinli commented on #150
I figured out I need to update cocoapod repo or cocoapod. Problem solved, thanks.

[2016-10-20 06:11] allenlinli commented on #150
Cocoapod only got 2.1.0 as its newest one, would you like to update it?

[2016-10-20 12:39] bre7 commented on #150
[code]

[2016-10-21 09:11] Burgestrand opened #156 "iTunes Connect rejects builds because NSPhotoLibraryUsageDescription is required"
I added Chameleon to my project, which caused iTunes Connect to reject my builds because of a missing `NSPhotoLibraryUsageDescription`.

I was using Chameleon 2.2.0 for Swift through Cocoapods (via git because 2.2.0 is not released to Cocoapods).

[code]

I've run into a similar issue in the past, with PromiseKit. Here's a link to the relevant issue that was eventually fixed: https://github.com/Pr

[2016-10-22 00:33] salConigliaro commented on #156
That doesn't have to do with Chameleon. The NSPhotoLibraryUsageDescription key is required now for access to Photos.

[See here for more info] (https://developer.apple.com/library/content/documentation/General/Reference/InfoPlistKeyReference/Articles/CocoaKeys.html#//apple_ref/doc/uid/TP40009251-SW17)

[2016-10-22 00:37] bre7 commented on #156
I don't see any import to Photos' lib. Are you sure it's because of Chameleon ?

[2016-10-22 09:56] Burgestrand commented on #156
I just did another isolated test to double-verify.

Yes, merely adding ChameleonFramework to Cocoapods causes builds to be rejected, with no other change.

I'll fork and then remove half of the files of Chameleon in different passes (binary search!) to see if I can find specifically which files are causing it. It takes roughly 10-15 minutes every time (because of iTunes Connect) so it won't be a q

[2016-10-22 13:12] Burgestrand commented on #156
I found the culprit.

https://github.com/ViccAlexander/Chameleon/blob/2.2.0/Pod/Classes/Objective-C/Chameleon_.m#L330-L334

Similar to the case with PromiseKit, Chameleon is also doing changes to the Image Picker controller. Mentioning the UIImagePickerController is sufficient to cause this build rejection, even if it's not used anywhere.

I believe PromiseKit solved this by moving those particula

[2016-10-22 13:13] bre7 commented on #156
Thanks ! We'll fix it asap

[2016-10-27 14:43] RemyDCF commented on #156
I wanted to send an app to iTunes Connect, and I received this mail from Apple :

[2016-10-27 16:28] bre7 commented on #156
If that's the message then either your app or some library you are using does access or import those frameworks.

[2016-11-02 21:29] ryandailey100 opened #158 "When will Swift 3 be supported?"

[2016-11-02 21:30] bre7 commented on #158
Dupe #150 #155 . Please use the search function before submitting a new issue.

[2016-11-02 21:30] #158 closed

[2016-11-06 21:57] pableiros opened #159 "Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Only RGBA or White color spaces are supported in this situation.'"
I can't use gradients color when I open external view controllers.
I saw it is a closed issue saying something like this but it doesn't solve my problem, I search a lot on Stackoverflow and I nothing works.

I set gradient primary color like this:
[code]
But when I open a `SFSafariViewController` for example:
[code]
The app crash and I get this error:

    Assertion failure in -[UICGColor encodeWi

[2016-11-07 14:39] bre7 commented on #159
Not related to Chameleon as far as I can see. The exception is caused by an incorrect parameter. Check #132 and also try using HEAD in your Podfile

[2016-11-07 14:40] #159 closed

[2016-11-09 02:13] haithngn opened #160 "Cannot use Chameleon with Carthage for objective-C project"
Hi,
I'm using Chameleon install by Carthage for my Objective-C project, my code:
`self.view.backgroundColor = FlatGreen;`
App crashed and the xcode said:
+[UIColor flatGreenColor]: unrecognized selector sent to class

[2016-11-10 15:40] bre7 commented on #160
Could you try using CocoaPods or cloning the repo ? First we need to know if it's related to Carthage or the lib.

[2016-11-11 02:08] hailcl commented on #160
@bre7 ,
I tried to add Chamelon manual, it's work.

[2016-11-11 18:10] bre7 commented on #160
Then it's something related to Carthage

[2016-11-15 03:45] KelvinJin commented on #156
Any updates on this one? Same issue here.

[2016-11-15 18:16] arsanjani opened #161 "Issue with using Theme and UISearchBar Scope bar"
Hi there
When i used Chameleon.setGlobalThemeUsingPrimaryColor, Scope bar of UISearchBar not showing because of same color of background and foreground in  UISegment inside of uisearchbar

BTW i'm using swift version

![thumb_img_0036_1024](https://cloud.githubusercontent.com/assets/8726637/20317794/cd7fc334-ab7c-11e6-8e25-acfa443f8202.jpg)

[2016-11-16 19:34] infinZero opened #162 "How Can I remove Chameleon Pallete from my xCode"

[2016-11-16 19:38] bre7 commented on #162
Not related to the library but macOS.

https://encrypted.google.com/search?hl=en&q=remove+palette+from+macos
->
http://stackoverflow.com/questions/11386513/how-to-create-osx-clr-palette-files
->
http://www.robinwood.com/Catalog/Technical/OtherTuts/MacColorPicker/MacColorPicker.html

[2016-11-16 19:38] #162 closed

[2016-11-17 07:37] infinZero opened #163 "issues in iOS10"
I am using Chameleon colors for the first time. & I am so excited for using these colors in my next comping projects but  there are more than 7 issues in iOS10 xCode 8.1 version, when I build & run my program it giving me following issues.

1.  in `UIAppearance+Swift.m` file there is a line     `return [self appearanceWhenContainedIn:`
where it giving me issue that the appearanceWhenContainedIn is

[2016-11-17 16:13] bre7 commented on #163
Errors are pretty self-explanatory. First one is a deprecation notice with a solution already in the message itself and the others related to code doc. Send a PR if you want or wait for a fix (they aren't high priority, for the time being)

[2016-11-17 16:13] #163 closed

[2016-11-17 19:40] infinZero commented on #163
@bre7  I knows well the first one is for deprecation & also having its solution already but you've not read my issue completely.
actually when I follow with deprecation message solution, it also giving me error in its below array. not in this function declaration line. please read my above first point completely.

[2016-11-17 19:45] bre7 commented on #163
What you tried to say was that you tried to fix the deprecation but hit an error after doing so ?

[2016-11-23 15:20] bre7 commented on #161
Similar to #98 (check workaround) #74 #102

[2016-11-25 14:58] wsb9 opened #165 "Push v2.2.0 to CocoaPods"
Most recent release is not known to `pod` tool, hence unavailable by default for Swift 3 and requires to add `:git` directive. Is it intentional? Why?

[2016-11-25 15:05] bre7 commented on #165
It's not intentional. The admin will send a new version when he can.

[2016-11-25 22:51] sirnacnud commented on #96
Any chance we can get this branch updated to swift 3? I'd like to test it out.

[2016-11-25 22:53] sirnacnud commented on #96
Any chance we can get this updated for swift 3? I'd like to test it out.

[2016-12-03 20:14] kooliokey commented on #156
I have an app that is getting an invalid binary message from iTunes Connect for the same reason. I'd prefer to not remove Chameleon, but I may have to :\

[2016-12-04 12:14] iDevelopper opened #166 "setStatusBarStyle with UISplitViewController iPad"
I have a UISplitViewController object with two UINavigationController.

I try:

[code]

Does not work, my navigation bar color is FlatBlueDark and I expect a white status bar. Works for navigation controllers when they are not in a split view controller.

Any help? Thanks in advance.

[2016-12-04 16:49] bre7 commented on #156
PRs are welcome. There's already a proposed fix: https://github.com/ViccAlexander/Chameleon/issues/156#issuecomment-255527599

[2016-12-08 07:51] iaMeteor commented on #60
try remove ~/Library/Developer/Xcode/DerivedData/* and rebuild

[2017-01-24 04:51] viral-etymon opened #168 "Color from Image inside Collection View Cell"
I have Image inside CollectionViewCell and using that image I am set the background of the cell. I am using ColorsFromImage(image, isFlatScheme) method to extract color in collectionview's cellForItemAt method.

Problem is that by using this I am facing App lag issue while scrolling collection view. Below is my sample code.

[code]

Can you please suggest best way to do such task?

[2017-01-24 04:56] bre7 commented on #168
This isn't related to the library itself.

You might want to check out StackOverflow for similar cases, the issue is that the task at hand should be performed in the background (e.g: when the image is downloaded). Good luck 👍

[2017-01-24 04:56] #168 closed

[2017-01-24 04:58] viral-etymon commented on #168
Does library support any background action. means when I try to fetch any color that task perform in background then I use result in main thread?

[2017-01-24 05:13] bre7 commented on #168
There are 2 methods for this:
https://github.com/ViccAlexander/Chameleon/blob/master/Pod/Classes/Objective-C/NSArray%2BChameleon.m#L100

Why not store the main color in your server ? Compute once, use it everywhere.

[2017-01-24 05:35] viral-etymon commented on #168
Thanks that does some help. Starting to store color in and then using it. Thanks again

[2017-01-25 20:03] otymartin opened #169 "Gradients on Texts"
@ViccAlexander
Is it possible to apply gradients on texts? eg UILabel? Navigation Bar title etc?

[2017-02-28 08:52] FWBGitHub opened #172 "cocoapods download"
Pre-downloading: `ChameleonFramework` from `https://github.com/ViccAlexander/Chameleon.git`
stay at this interface,i don't know

[2017-02-28 14:08] aventurella opened #173 "With a global them enabled, presenting a UIActivityViewController the "cancel" button is white on white"
In my app delegate `didFinishLaunching` setting a global theme:

[code]
Then, in this case presenting a `UIActivityViewController` (aka Share sheet) *in this particular case the 1Password extension UIActivityViewController, but it's just this one line: https://github.com/AgileBits/onepassword-app-extension/blob/master/OnePasswordExtension.m#L66*

The `Cancel` button on the UIActivityViewController

[2017-03-01 18:53] h3nd3r opened #174 "ContrastColorOf always returns the same dark color value (Swift 3)"
[code]

[2017-03-01 19:13] bre7 commented on #174
`ContrastColorOf(,)`

[2017-03-01 19:15] #174 closed

[2017-03-01 19:21] bre7 commented on #173
Dupe of #98 (check workaround)

Similar to #74 #102 #153

[2017-03-01 19:22] #173 closed

[2017-03-01 19:25] bre7 commented on #172
CP issue, not Chameleons. Check their blog/twitter next time ;)

https://twitter.com/CocoaPods/status/836707142941945858

[2017-03-01 19:25] #172 closed

[2017-03-01 19:29] bre7 commented on #169
You need to work a bit with the generated image and the control:
https://google.com/search?hl=en&q=swift+image+as+text+mask
--> http://stackoverflow.com/questions/36516113/how-to-fix-the-gradient-on-text-when-using-an-image-in-swift-as-the-gradient-re

[2017-03-01 19:29] #169 closed

[2017-03-01 19:30] #161 closed

[2017-03-01 19:36] bre7 commented on #154
Check #98 for a workaround

[2017-03-01 19:36] #154 closed

[2017-03-05 01:34] KingInfinity commented on #160
Having same problem with Cocoapods

[2017-03-05 01:37] bre7 commented on #160
I've used Chameleon with Swift 3 and CP so you might be missing a step. Try creating a new project and adding Chameleon to it, if it works then it's related to your specific project.

[2017-03-05 01:42] KingInfinity commented on #160
I think CP was just caching an older version of Chameleon from Swift 2, (I had installed the wrong version before, and I changed in Podfile and ran `pod install`, but it still didn't work). I tried running `pod update`, with  `pod 'ChameleonFramework/Swift', :git => 'https://github.com/ViccAlexander/Chameleon.git'` in Podfile, but version is still 2.1. How do I get version 2.2?

[2017-03-05 01:44] bre7 commented on #160
2.1 is the last published version. Try using HEAD like it's recommended in the readme:
[code]

[2017-03-05 01:46] KingInfinity commented on #160
That is exactly what is in my Podfile, and I was confused because in Releases it says version 2.2.0.

[2017-03-05 01:51] bre7 commented on #160
Try using pod update. Are you able to "import ChameleonFramework" ?

[2017-03-05 01:51] KingInfinity commented on #160
I've executed `pod update` and `pod install` several times. `import ChameleonFramework` has no errors.

[2017-03-05 03:27] bre7 commented on #160
Are you able to share the project ? Or share access to the repo ? It seems like something related to your project and not Chameleon

[2017-03-13 21:30] otymartin opened #176 "UIStatusBarStyleContrast doesnt work"
@ViccAlexander
self.setStatusBarStyle(UIStatusBarStyleContrast)

I set this in my `viewDidLoad`

I have a view whos background is a UIImageView taking up the whole screen. So naturally the statusbar color I expect to change according to the darkness or lightness of the underlying photo but thats not the case.

My info.plist has viewcontroller based statusbar set to YES

[2017-03-13 21:36] bre7 commented on #176
You might want to check the source code: https://github.com/ViccAlexander/Chameleon/blob/master/Pod/Classes/Objective-C/UIViewController%2BChameleon.m#L123

Image color detection is ammong Chameleon's status bar style use case

[2017-03-13 21:37] #176 closed

[2017-03-13 21:39] otymartin commented on #176
@bre7
I'm having a hard time following the logic in that link.
Does it contrast according to view.backgroundcolor? or the background color of the foremost view in my viewhireachy? Would appreciate some clarification

[2017-03-13 22:34] bre7 commented on #176
Top sub-view for viewcontroller.view

https://github.com/ViccAlexander/Chameleon/blob/62a377fec7c8fc39deb65ab8b46dce6e40250676/Pod/Classes/Objective-C/UIView%2BChameleonPrivate.m#L31

[2017-03-13 22:35] otymartin commented on #176
@bre7 thanks :)

[2017-03-18 14:23] raymundcat opened #178 "Adding new Color Schemes: Split Complementary & Tetradic"
Hello Team,

I tried to submit a PR of a color palette a few weeks ago but I realized the new feature would fit better if created as a color scheme.  I think these new color schemes would be a great addition to your existing color templates.

Source of the color harmonies: http://www.zevendesign.com/color-harmony-hulk-wears-purple-pants/

Kind regards,
Raymund

[2017-03-18 14:40] raymundcat commented on #178
BTW I'm currently working on adding the Split Complementary scheme in the nsarray extensions.

[2017-04-05 14:37] emadd opened #183 "Theme-based status bar and view controller based appearance"
Is it impossible to have the theme-based status bar and also toggle the appearance of the status bar on a view controller basis?

[2017-04-05 14:49] deborahelizabethpadilla opened #184 "Use Of Undeclared Type 'AkiraTextField'"
Hi there!

I'm receiving this error within my outlets in my form view controller. It works fine in my login view controller. Not sure if this is a bug or what, but it's not allowing me to compile. My class and module is connected in storyboard. I tried reconnecting my outlets. Thanks in advance.

[2017-04-05 14:54] bre7 commented on #184
Hey,

I'm sorry to say but it's unrelated to our framework (AkiraTextField doesn't even exist in Chameleon)

[2017-04-05 14:54] #184 closed

[2017-04-16 00:01] MKGitHub opened #185 "Sort the color example image"
This image: https://camo.githubusercontent.com/747d1a53ed34124c5ab7fb9007f4ccda8da37398/687474703a2f2f692e696d6775722e636f6d2f776b4747576b4e2e706e67

Please sort the colors so that they are beside each other matching color range. Currently for instance the "blue" color variants are spread all over the image. Put them in order beside each other instead i.e. from the lightest blue variant to the dar

[2017-05-12 11:36] tesths opened #188 "Is this project is still update?"
No bug, I just want know this project is still update?
I see README has some problem, and the todo list is not update🙁

[2017-05-17 21:44] deborahelizabethpadilla opened #189 "Documentation Issue Warnings"
I'm receiving warnings in my project (i.e., Documentation Issue: Parameter 'excludedColors', 'isFlat', 'color' not found in the function declaration, etc etc). These warnings seem to be hidden in the Objective-C files.

I'm working with Swift and CocoaPods. Is there any solution to get rid of these warnings?

[2017-05-21 15:12] SebastianKumor commented on #189
Got the same warnings. Funny thing is I got them just few days ago without updating anything but I was using chameleon for few months already.

[2017-05-29 05:09] onlyexcellence commented on #189
Same.

[2017-05-31 18:45] deborahelizabethpadilla commented on #189
Did anybody figure out the fix? I can't seem to find a solution still. Any help would be appreciated!

[2017-06-04 06:27] maysamsh opened #191 "Fix for UICalloutBarButton"
Applying theme causes **UICalloutBarButton**s get a square background, to fix it, you have to add this to **UIAppDelegate**:
`(NSClassFromString("UICalloutBarButton")! as! UIButton.Type).appearance().backgroundColor = UIColor.clear`

[2017-06-05 17:10] mgt-la opened #192 "Gradient Views Invisible with Accessibility>Darken Colors"
Anyone else dealing with this? Specifically:

- UILabel Background Gradients

- TableViewCell TintColor (when setting a custom frame in the location of where the checkmark shows up), to have gradient start and finish in the width of a checkmark on a TableViewCell

[2017-06-09 16:06] deborahelizabethpadilla commented on #189
Ok, so, I imported Chameleon into Storyboard and removed the framework from the pod. The warnings went away when I did this instead. I'm not sure if that will solve anything on your end, but this seemed to work for me and be a temporary solution. Good luck!

[2017-06-09 20:47] SebastianKumor commented on #189
I just reimplemented the parts of the framework I needed and removed it as well.

[2017-06-13 04:00] q351941406 opened #193 "accessoryView的背景颜色问题"
======
当uitableViewCell设置了accessoryType后，会自动加上一个背景颜色， 而且无法去除颜色
======

[2017-06-13 04:08] q351941406 commented on #193
不好意思，已经解决问题。请关闭

[2017-06-16 09:45] SIGMAMobile opened #194 "How to import chameleon inside a private pod"
I'm in trouble trying to include Swift 3 version in a podspec file. When I try to validate my podspec it throws some errors. Seems that is searching for an older release. I wonder if any know any solution or workaround because in the podspec I can't set the git path.

eg:
` - ERROR | [iOS] xcodebuild: Returned an unsuccessful exit code. You can use `--verbose` for more information.
    - ERROR | [

[2017-06-16 10:28] perroyverde opened #195 "PodSpec update?"
Podspec will be updated at some point?

[2017-06-19 07:19] SIGMAMobile commented on #195
@bre7 Is this still updated?

[2017-06-22 18:32] MKGitHub opened #197 "Update for Swift 4 please"
Update for Swift 4 please

[2017-06-25 23:33] bre7 commented on #195
I'm busy so I can't really help out for the time being. Pod version doesn't really matter at this point, you can just point your spec to use "master" (stated in the readme)

[2017-06-25 23:34] bre7 commented on #197
PRs are welcome. Doubt there are many changes to be made.

[2017-06-25 23:39] #195 closed

[2017-06-25 23:40] #160 closed

[2017-06-25 23:43] bre7 commented on #188
It's an open source so PRs are always welcome 👍

[2017-06-25 23:43] #188 closed

[2017-06-25 23:44] bre7 commented on #192
You should provide an example if you can (code and/or images of the issue)

[2017-06-25 23:45] #193 closed

[2017-06-26 01:20] #197 closed

[2017-06-26 02:08] bre7 commented on #189
Xcode9 isn't showing those warnings.

[2017-06-26 02:08] #189 closed

[2017-06-26 02:11] bre7 commented on #185
I don't have access to the raw Sketch project so I can't fix it, only Vicc can

[2017-06-26 20:50] bre7 commented on #194
Try with the latest code. Doesn't seem to be a question for our repo but SO maybe since it's related to CocoaPods and not Chameleon itself.

[2017-06-26 20:50] #194 closed

[2017-06-28 07:03] Andy0570 opened #199 "Question about dynamic framework"
I noticed that you recommend using the dynamic library to add Chameleon：

[code]

What happens if I do not use the dynamic library to add the chameleon? Or what features are missing?

thank you very much ！

[2017-06-28 21:11] niclashedam commented on #138
Is there any update on this?

[2017-06-28 21:47] bre7 commented on #199
This is related to CocoaPods and not Chamelon. More info: https://encrypted.google.com/search?hl=en&q=cocoapods%20use_frameworks

[2017-06-28 21:47] #199 closed, assigned to nobody

[2017-06-29 07:57] reednj commented on #156
For anyone else looking at this issue: the following patch comments out the offending code to allow submission (assuming you're not using this functionality)

[code]

[2017-07-30 01:15] vicc commented on #192
Hey @bre7 thanks for helping keep Chameleon moving forward. Been caught up on so many things, I haven't had the chance to help improve this. Can you shoot me an email at viccalexander@gmail.com I wanted to chat about a few things! Thanks again man!

[2017-08-03 03:57] mrapemzheng opened #200 "What will help me?"
What will help me if I use this framework.
I can't find it.

[2017-08-04 08:20] natoli66 opened #201 "Contrasted status bar won't work"
Hi everybody, sorry for having to ask this question which seems to be easily answered but the thing is I don't understand what is happening.

I did set a theme in AppDelegate with this method `setGlobalThemeUsingPrimaryColor(UIColor.darkGray, with: .contrast)`

I did set in info.plist the key `view controller-based status bar` to `YES`.

Wherever I try to use `setStatusBarStyle(UIStatusBarStyleCon

[2017-08-08 17:51] ashish-naik commented on #191
This saved my day. Thank you.

[2017-08-29 22:15] jevonjcharles opened #202 "Gradient in tableview cell starts at wrong point"
While using the left to right gradient option the color over laps onto the cell on the left side.  I'm not using the accessory for the cell and have even tried changing that color but it still doesn't fix the problem.
![simulator screen shot aug 29 2017 3 10 34 pm](https://user-images.githubusercontent.com/19617597/29846721-d8bd5e3c-8ccc-11e7-9445-f47a0fd27561.png)

[2017-10-26 23:16] cerupcat commented on #96
Any update to this? Any chance of getting this merged in?

[2017-10-30 16:05] houmie opened #208 "The Pod version doesn't compile with latest Xcode and swift 4"
This is a shame as this doesn't build anymore.

[code]

Kindly advice,
Thanks,

[2017-10-31 03:43] mayqiyue commented on #208
+1

[2017-11-01 04:25] MartinP7r commented on #208
It compiles just fine if you use the :git branch in your podfile as described in https://github.com/ViccAlexander/Chameleon#swift-3
In your workspace make sure that the `Swift Language Version` in Build Settings of the `ChameleonFramework` target inside the Pods project is set to Swift 4.0

Anyhow, the line https://github.com/ViccAlexander/Chameleon/blob/6dd284bde21ea2e7f9fd89bc36f40df16e16369d/Po

[2017-11-01 10:10] lis186 commented on #208
Use this setting in Podfile.
`  pod 'ChameleonFramework/Swift', :git => 'https://github.com/ViccAlexander/Chameleon.git', :branch => 'wip/swift4'`

[2017-11-04 20:36] ghost opened #209 "Request: Gradient with the dark version of light color?"
hey ni🅱️🅱️a, do you mind adding this feature? Pretty odd how such an obvious feature isn't on this god of a library.

[2017-11-10 08:12] itsjustcon commented on #96
+1 I've been waiting for this to get merged for ~1y @ViccAlexander @bre7

[2017-11-15 11:57] exera commented on #201
I'm having the same issue, i thought setting code below would be enough in AppDelegate.

`Chameleon.setGlobalThemeUsingPrimaryColor(UIColor.init(hexString: navBgHex), with: UIContentStyle.light)`

[2017-11-15 12:09] exera commented on #201
I solved my problem by setting

`Chameleon.setGlobalThemeUsingPrimaryColor(UIColor.init(hexString: navBgHex), with: UIContentStyle.contrast)`

`View controller-based status bar appearance boolean to NO`
In my info.plist file.

[2017-11-30 17:22] j-pk commented on #138
This issue also occurs to the tintColors on SFSafariViewControllers.

[2018-01-05 15:32] allenspicer commented on #197
Is this updated?

The imweihuang#1 version says it is merged with the main branch but the default ChameleonFramework (2.1.0) throws lots of Swift 4 related errors for me.  Running Xcode 9.1.

[2018-01-27 23:08] uetcis opened #211 "Warnings in Xcode 9.3"
When I try to build my project in Xcode Version 9.3 beta (9Q98q), the compiler shows warnings:
<img width="376" alt="image" src="https://user-images.githubusercontent.com/25654046/35477238-fc8debd4-03f9-11e8-9254-d18598f6454b.png">

[2018-03-21 09:20] Jay-iTechPioneer commented on #202
@Jevon718 i have same issue you find any solution for it ?? if yes then please suggest it

[2018-03-23 22:27] tranuydu opened #212 "Compile error after install pod"
pod 'ChameleonFramework/Swift'
 Get 30 compile errors after installing pod
======
Read this before submitting a new report ;)

* Use the search function to find similar bugs before submitting a new one.
* Bug related to Global theming ? Check #98 for a workaround or #74 #102 #153 #161.

DELETE THIS TEXT BEFORE SUBMITING A NEW ISSUE.
======

[2018-03-23 22:28] #212 closed, assigned to nobody

[2018-03-23 22:30] tranuydu opened #213 "Installation ChameleonFramework/Swift error"
ChameleonFramework/Swift gets 30 compile errors after installation in Xcode 9.3
======
Read this before submitting a new report ;)

* Use the search function to find similar bugs before submitting a new one.
* Bug related to Global theming ? Check #98 for a workaround or #74 #102 #153 #161.

DELETE THIS TEXT BEFORE SUBMITING A NEW ISSUE.
======

[2018-04-12 19:21] yasinkavakli commented on #211
Any updates on this?

[2018-04-13 18:39] denys-meloshyn commented on #211
It would be nice to know how to fix it 😶

[2018-04-14 08:56] shangmaumau commented on #211
Replace #if by #ifdef can solve all the warnings.

[2018-04-18 19:59] filipealva commented on #211
+1

[2018-04-18 20:01] filipealva opened #216 "Gradient color flashing"
Sometimes the gradient color flashes while rendering on screen, I started to notice it after building it with Xcode 9.3

[2018-04-18 20:04] filipealva opened #217 "Release 2.2.0 doesn't exist on CocoaPods"
I've noticed that there's a release `2.2.0` on this repo but when I try to update it on my Podfile it says that there's no `2.2.0` version for this pod.

[2018-05-08 19:23] ashish-naik commented on #98
I am facing issue with scope bar in table view controller in iOS11 . Am setting global theme with primary as flatBlue and secondary as flatGrey.

Scope bar as shown.

<img width="372" alt="scopebar ios 11 issue" src="https://user-images.githubusercontent.com/4936420/39777959-a6b4efa0-5322-11e8-865d-b15daaf1e28d.png">

My delegate methods are a below.
[code]

setup as below

[code]

[2018-05-15 11:02] vdeep opened #219 "Is this project still active?"
Just wanted to check if this project is still active as there has not been any development for quite some time now.

[2018-07-01 05:02] dhruvshah1214 commented on #213
Is this issue being fixed?

[2018-07-08 13:32] ShikharQuovantis opened #220 "Tableview scrolling is clunky when I am applying the gradient colors to the views in my tableview cell."
I am using this method in my tableview cell class which is called from cellForRow at index path:-

         func configureCell(_ model: Model, _ category: CategoryModel) {

                 //setting the gradient colors
                verticalView.backgroundColor = category.categoryGradientColor(style: .topToBottom, frame:
                verticalView.frame, colors: [UIColor.init(hexString: categ

[2018-07-15 17:05] ivnsch commented on #156
Any updates...? My app is being rejected because of this. It was reported almost 2 years ago. This is critical.

[2018-07-26 17:40] roteirod opened #222 "Navigation Bar Hairline won't hide with a searchController in Navigation Bar"
Here is my issue:
![screen shot 2018-07-26 at 20 36 37](https://user-images.githubusercontent.com/36671280/43278518-064a320c-9114-11e8-8c5c-b18321a04e85.png)
It works fine though without searchController

[2018-07-27 16:04] TheBaldNerd commented on #211
I edited around 3 or 4 entries like this and it removed all the Warnings.  Nice job @shangleixun

[2018-08-04 09:02] r3econ commented on #219
I'd like to know the same?

[2018-08-07 04:56] av089 commented on #202
Hello,

Any Solution for this?

[2018-08-08 02:30] Jay-iTechPioneer commented on #202
class TableViewCell: UITableViewCell {

    @IBOutlet weak var lblplayerName:UILabel!
    @IBOutlet weak var lblhowOut:UILabel!
    @IBOutlet weak var lblruns:UILabel!
    @IBOutlet weak var lblballs:UILabel!
    @IBOutlet weak var lbl4s:UILabel!
    @IBOutlet weak var lbl6s:UILabel!
    @IBOutlet weak var lblSR:UILabel!
    @IBOutlet weak var imgCellBg:UIImageView?

    override func awakeFromNib

[2018-08-15 01:27] ommeirelles commented on #197
Same here @allenspicer.
Xcode 9.4 here and chameleon is throwing a lot of errors...

[2018-08-29 23:01] jcafaro10 opened #225 "CIEDE2000 algorithm incorrect"
I think this line is wrong:
    CGFloat RT = -2 * sqrt(pow(MeanCPrime, 7) / (pow(MeanCPrime, 7) + pow(25.0, 7))) * sin((60.0 * M_PI/180)* exp(-1 * pow((MeanCPrime - (275.0 * M_PI/180)) / (25.0 * M_PI/180), 2)));

I think it should be this:

    CGFloat RT = -2 * sqrt(pow(MeanCPrime, 7) / (pow(MeanCPrime, 7) + pow(25.0, 7))) * sin((60.0 * M_PI/180)* exp(-1 * pow((MeanHPrime - (275.0 * M_PI/180)) /

[2018-08-29 23:11] jcafaro10 commented on #225
Actually maybe I'm wrong...it's hard to follow the paper

[2018-09-15 23:19] Wildchild9 commented on #197
I have Xcode 10 and chameleon is also throwing a lot of errors.

[2018-10-01 06:24] #211 closed, assigned to nobody

[2018-10-11 16:29] Deg5112 opened #226 "Semantic Issue - Enumeration value 'kGCColorSpaceModelXYZ' not handled in switch : UIColor+ Chameleon.m"
======
Semantic Issue warning in Xcode 10

i have installed both these pods separately and each give me the same warning

pod 'ChameleonFramework/Swift', :git => 'https://github.com/ViccAlexander/Chameleon.git'
pod 'ChameleonFramework/Swift', :git => 'https://github.com/ViccAlexander/Chameleon.git', :branch => 'wip/swift4'

![uicolor_chameleon_m](https://user-images.githubusercontent.com/13839383/

[2018-10-13 17:25] MehdiChennoufi commented on #219
Anyone to answer ? I'm wondering too :)

[2018-10-16 02:49] wolfcon commented on #156
@i-schuetz @Burgestrand
hey. guys. just add NSPhotoLibraryUsageDescription to your info.plist. You could work this out.

If you are not call ImagePicker, system won't pop that alert. (NSPhotoLibraryUsageDescription)

[2018-10-17 12:49] Will-1-Am opened #228 "NSInvalidArgumentException"
Xcode 10
Everything was working really well until I imported ChameleonFramework and ran code in simulator.  

I commented out the import and changed the colours to the standard iOS colours and everything worked again.

Then I uncommented the import but left the standard colours and the app worked fine.
I changed the colours to the Chameleon colors and the app crashes with the following "dump".
Any

[2018-10-18 08:40] Will-1-Am commented on #228
Reinstalling the ChameleonFramework pod fixed the issue above but another buildtime issue described as "Enumeration value 'kCGColorSpaceModelXYZ' not handled in switch" has arisen.  The application appears to be unaffected - in other words the crashing stopped.

[2018-10-18 08:40] #228 closed, assigned to nobody

[2018-10-29 17:50] InfraRedApple commented on #219
I have thought the same thing. I've started a pure Swift version at: [https://github.com/adammcelhaney/CyaneaOctopus](GitHub: CyaneaOctopus)

[2018-10-29 18:04] MehdiChennoufi commented on #219
A very good news Adam, I will looking for it ! Thanks !

[2018-10-30 08:52] Gennady77 opened #229 "Editor placeholder in source file"
I'm updated my xCode to 10 version and started use swift 4.2. But when I build my project I got the error in Default/UIColor+Chameleon.m
![screenshot 2018-10-30 at 11 49 51](https://user-images.githubusercontent.com/854220/47706448-3af2ba80-dc3a-11e8-9eda-ebe7f48d42a0.png)

I include pod like in the documentaion.

[2018-11-01 09:26] mdaslamansari2008 opened #230 "No support for latest version of swift."
There is no support for latest version of the swift 4.0 or 4.2.
When can we expect any news related to it ?

[2018-11-07 16:57] bennnjamin commented on #230
Apparently the repo is no longer maintained, https://github.com/viccalexander/Chameleon/commit/db432ca1b1a3d8f83ee1f881208c0c960a325e73#commitcomment-30697297

[2018-11-07 22:52] wel51x commented on #228
re: kCGColorSpaceModelXYZ

Newbie here: I'm having the same problem. Is the best way to handle this as kCGColorSpaceModelUnknown?

Thanks.

[2018-11-11 23:31] gilthiago commented on #228
Yes.. same here.. deleted from Podfile pod 'ChameleonFramework', run pod install,, add it again,, and rerun pod install. solved...

[2018-12-17 07:18] rnitta commented on #225
@jcafaro10
I think you are right
https://github.com/viccalexander/Chameleon/blob/6dd284bde21ea2e7f9fd89bc36f40df16e16369d/Pod/Classes/Objective-C/UIColor%2BChameleon.m#L1026

the last `MeanCPrime` should be `MeanHPrime`

[2019-01-05 14:15] adjagers commented on #229
Hi there, same problem here I hope some can comment the solution for this.

[2019-01-10 00:58] Hesham-Salama commented on #228
Didn't work, using Xcode 10.0

[2019-01-15 11:24] User2004 commented on #138
Write following link code in appdelegate.m file for set navigation bar tint color, font color apply font family etc.

https://webappcodes.com/set-navigation-bar-theme-in-objective-c

**Hide navigation back button and set navigation title**

https://webappcodes.com/set-navigation-bar-title-programmatically-and-hide-default-navigation-back-button-in-objective-c

**Set navigation left button programa

[2019-02-05 22:06] hellonoko opened #232 "No gradient with tableView editActionsForRowAt"
I was trying to do the following:

[code]

And make the swipe to delete background color of my row edit action be a gradient just for fun it does not seem to work. Instead it is a default? grey color.

[2019-02-20 03:20] drjhy commented on #230
Conversion to Swift 4.2 is available -- causes crash..

[2019-03-05 15:09] maxgrev commented on #230
Simply use
`pod 'ChameleonFramework/Swift', :git => 'https://github.com/ViccAlexander/Chameleon.git'`
instead of
`pod 'ChameleonFramework/Swift'`

[2019-03-06 04:18] SohaibSiddique commented on #208
only this error remain others are gone,

enumeration value 'kCGColorSpaceModelXYZ' not handled in switch

[2019-03-23 16:31] koust commented on #202
Hello @av089 ,

Can u try inside "layoutSubviews" method?

[2019-03-27 14:31] aimm opened #235 "hidesNavigationBarHairline does not work on iPhone x/xr/xs/max"
hidesNavigationBarHairline works not so well as on iPhone 6s

[2019-03-31 17:23] TechJonesAi commented on #229
Im also looking for an answer to this.

[2019-04-07 10:31] xploregit commented on #230
Thanks maxgrev

[2019-04-22 02:01] jackylcs86 opened #238 "Swift 5 supporting folk?"
Hi, is there any swift 5 supporting folk?

[2019-04-25 10:01] lennycampino commented on #238
I would be interested as well.

[2019-04-29 16:43] dandrea1 commented on #229
I had this issue too.  I just deleted the code block "code", without adding any logic.

Result it:

casekCGColorSpaceModelXYZ:

break;

Then I rebuilt and error disappeared. Hope this helps.

[2019-06-20 21:02] andrewabdalla commented on #217
Just as a temporary fix I have forked and fixed up the errors that are being produced with the Xcode 11.0 beta. You can use the following if you'd like until they push version 2.2.0 to their pod:

`pod 'ChameleonFramework/Swift', :git => 'https://github.com/andrewabdalla/Chameleon', :branch => 'swift4'`

[2019-06-21 10:39] oONIo commented on #238
Got compile errors with default pod install on swift 5.

[2019-06-21 10:43] oONIo commented on #238
Just got the errors away with:
#Podfile
`pod 'ChameleonFramework/Swift', :git => 'https://github.com/ViccAlexander/Chameleon.git'`

instead of

`pod 'ChameleonFramework/Swift'`

[2019-07-07 20:32] Tatermyrwold opened #239 "Getting Complementary colors (Analogous etc.) don't return the proper colors."
Some of the colors RGB values (0.0-1.0) return 1.0+ which result in an improper hex value and color, though it appears to display the correct color.

[2019-07-07 20:56] Tatermyrwold commented on #239
`[UIExtendedSRGBColorSpace 0.629412 0.552557 0.159743 1, UIExtendedSRGBColorSpace 1.01941 0.919958 0.411636 1, UIExtendedSRGBColorSpace 0.929412 0.823529 0.282353 1, UIExtendedSRGBColorSpace 0.282353 0.388235 0.929412 1, UIExtendedSRGBColorSpace 0.0653313 0.157635 0.629412 1]`
This is the output of the Complementary array. The hex string comes out to "#103EA68"

[2019-07-23 22:59] vandermesis commented on #238
Thank you for tip @oONIo. Works for me.
Waiting for support for Swift 5 as well.

[2019-07-31 14:58] oralemre commented on #230
I have used "pod 'ChameleonFramework/Swift', :git => 'https://github.com/ViccAlexander/Chameleon.git'", but the program crashed because of  "dyld: Symbol not found: _$s18ChameleonFramework9FlatWhiteSo7UIColorCyF"

[2019-09-17 07:46] RSickenberg opened #242 "Function produces expected type 'UIColor'; did you mean to call it with '()'?"
Not compliant with Xcode 11.

[2019-09-18 01:31] ytong3 commented on #238
So I guess GradientColor is broken in Swift 5. Anyone else?

[2019-09-18 12:02] PavelVaskou commented on #242
the same

[2019-09-21 04:04] luckychris commented on #242
same here

[2019-09-21 07:38] JustinKalicharan commented on #242
Bump, same here.  Anyone got any good work arounds?

[2019-09-21 08:03] luckychris commented on #242
you can try my branch, for me it works:

https://github.com/luckychris/Chameleon

[2019-09-21 08:04] luckychris commented on #242
you can try my fork - for me it works: https://github.com/luckychris/Chameleon

[2019-09-21 20:41] JustinKalicharan commented on #242
Sir, this works perfectly!  Thanks for providing a clean working branch!

[2019-09-22 03:51] luckychris commented on #242
Thank you. It was a pleasure.
Can you give me a star? It would be my very first one ☺️

[2019-09-22 17:48] JustinKalicharan commented on #242
Done!  I would have given you more if I could.  Thanks again; keep up the really good work!

[2019-09-23 15:33] RomainPln commented on #242
Saved my time, got my star too. Thanks.

[2019-09-23 15:50] luckychris commented on #242
Thank you!

[2019-09-25 12:52] ismaiI1 commented on #242
How can update Chamelon to your fork using podfile?

Edit : Sorry, I Found. Thanks for your fork 👍 I will give you a star :)

[2019-09-25 15:04] Alqueraf commented on #242
Thanks @luckychris. For reference, to include his fork on the podfile just change it to:
`pod 'ChameleonFramework/Swift', :git => 'https://github.com/luckychris/Chameleon.git', :inhibit_warnings => true`

[2019-09-26 09:47] RSickenberg commented on #242
Many thanks guys!

Was a pleasure to deal with you!

[2019-09-26 09:47] #242 closed, assigned to nobody

[2019-09-27 10:56] Djolevil commented on #238
When I try to import it, I get on that line the error: " Could not build Objective-C module 'ChameleonFramework' ", both with:
`pod 'ChameleonFramework/Swift', :git => 'https://github.com/ViccAlexander/Chameleon.git'
`
or just:

`pod 'ChameleonFramework/Swift'`

in the Podfile.

[2019-09-29 03:09] Sunsimiao commented on #242
Really good job!
I want to give you 10 stars!
Hope you can maintain the Chameleon!

[2019-10-15 09:18] NehaVishnoi opened #245 "Xcode 11.1 issue"
After updating the Xcode version to 11.1  In **ChameleonShorthand.swift** file getting error  **Function produces expected type 'UIColor'; did you mean to call it with '()'?**

[2019-10-16 18:04] X-Zone-Git commented on #245
I have the same issue with my project (Xcode 11.1)

[2019-10-22 11:49] umekun123 commented on #245
I have the issue on Xcode11.1 too.

[2019-10-22 22:27] anthonyfernando commented on #245
I am running into this issue on Xcode 11.1 as well

[2019-10-23 21:50] anthonyfernando commented on #245
Thank you very much for all the time and hard work that has gone into creating this library! I've been trying to use it in a Swift course I'm doing on Udemy, and have run into the same error as people have mentioned above. Here is a screen shot of the error I'm getting.
![image](https://user-images.githubusercontent.com/1988761/67436854-2b366800-f63b-11e9-8829-2e06c7b9940b.png)
Unfortunately I don

[2019-10-24 09:48] MattMash commented on #245
This branch worked for me:
 pod 'ChameleonFramework/Swift', :git => 'https://github.com/wowansm/Chameleon.git', :branch => 'swift5'

[2019-10-27 04:36] dbof10 commented on #245
same issue

[2019-10-31 08:05] MartinHor commented on #245
problem Solved .

[2019-11-06 08:42] Jerrrr commented on #245
'https://github.com/wowansm/Chameleon.git',  wowansm -> 我玩SM  有点秀哦

[2019-11-30 15:34] usercase opened #248 "[Question] - Color Depth / Pixel Depth"
Hi,

On [browserleaks - javascript](https://browserleaks.com/javascript), I see that it is possible to gather those information (Color Depth / Pixel Depth).
Knowing that some devices have specific screen resolutions and color depth, it seems to me that it can help the trackers.

- Is there a way to spoof Color depth and Pixel depth ?
- Do you think those two criteria are used for tracking (creatin

[2020-02-02 21:29] vajeeb opened #249 "Am getting an error while using update carthage command"
Vajeebs-MBP:nawras-kitchen vajeebchemmala$ carthage update --platform macOS
*** Fetching Chameleon
*** Checking out Chameleon at "2.2.0"
*** xcodebuild output can be found in /var/folders/pv/l50lq2190ys668vg_cht3y2h0000gn/T/carthage-xcodebuild.mWvMyi.log
*** Skipped building Chameleon due to the error:
Dependency "Chameleon" has no shared framework schemes for any of the platforms: Mac

[2020-02-02 21:29] vajeeb commented on #249
Vajeebs-MBP:nawras-kitchen vajeebchemmala$ carthage update --platform macOS
*** Fetching Chameleon
*** Checking out Chameleon at "2.2.0"
*** xcodebuild output can be found in /var/folders/pv/l50lq2190ys668vg_cht3y2h0000gn/T/carthage-xcodebuild.mWvMyi.log
*** Skipped building Chameleon due to the error:
Dependency "Chameleon" has no shared framework schemes for any of the platforms: Mac

[2020-02-02 21:32] vajeeb commented on #230
what about carthage update, same issue happends

[2020-02-09 03:30] wwildsmith commented on #245
pod 'ChameleonFramework/Swift', :git => 'https://github.com/wowansm/Chameleon.git', :branch => 'swift5' does not work fo me.

[2020-02-09 03:31] wwildsmith commented on #238
pod 'ChameleonFramework/Swift', :git => 'https://github.com/ViccAlexander/Chameleon.git' does not work for me.
The same 49 errors.

[2020-02-09 03:37] wwildsmith commented on #245
When trying

'ChameleonFramework/Swift', :git => 'https://github.com/wowansm/Chameleon.git', :branch => 'swift5'

I get the following warning

Enumeration value 'kCGColorSpaceModelXYZ' not handled in switch

[2020-03-03 09:01] stephangopaul commented on #245
If you are still getting the 49 issues on Xcode with "ChameleonFramework/Swift", I highly suggest that you use the objective c version of the library.

`pod 'ChameleonFramework', '2.1.0'`

However, you will need to add the below line in your bridging-header file.

`#import "ChameleonFramework/Chameleon.h"`

[2020-03-03 09:02] stephangopaul commented on #238
@wwildsmith, please refer to [this solution here](https://github.com/viccalexander/Chameleon/issues/245#issuecomment-593840627)

[2020-04-01 12:05] golgitab opened #251 "Library not loaded"
Hi, I am trying to make a build of my app on my own device, but it crashes all the time. Error states that this library is not loaded.
It doesn't matter whether I put into "Link binary with libraries" or not.

Do you have any ideas where I am wrong?

P.s. it is my first build and probably the solutions is obvious for you, but not me yet.

[2020-04-20 21:31] theozpal commented on #238
You may use:

`pod` 'ChameleonFramework/Swift', :git => 'https://github.com/wowansm/Chameleon', :branch => 'swift5'

wowansm already made Swift 5 compatible version.

[2020-07-11 20:55] mepster opened #252 "Enumeration value 'kCGColorSpaceModelXYZ' not handled in switch"
Get this error in XCode 11.5:
        Enumeration value 'kCGColorSpaceModelXYZ' not handled in switch

You can fix it by adding the missing case at line 936 in UIColor+Chameleon.m as follows:
        case kCGColorSpaceModelXYZ:

in order to handle it as one of the Unsupported color models.

(BTW this is great error checking by Swift/XCode.)

[2020-08-29 07:41] mobolun commented on #229
You just need to delete the extra lines

[2021-01-28 15:20] franmontaldo opened #254 "Gradient starts giving rare hex values"
When i run this code:
[code]

i get this output:

shouldnt the %100 percentage be equal or less than #FFFFFF?

[2021-04-11 09:11] brambeekman opened #255 "Building not working on Xcode 12"
On Xcode 12 the scheme doesn’t build and gives;

`Build Failed
	Task failed with exit code 65:
	/usr/bin/xcrun xcodebuild -project /Users/brambeekman/Documents/brambeekman/apps/Rullesmulle/Carthage/Checkouts/Chameleon/Chameleon.xcodeproj -scheme Chameleon -configuration Release -derivedDataPath /Users/brambeekman/Library/Caches/org.carthage.CarthageKit/DerivedData/12.4_12D4e/Chameleon/2.2.0 -sdk i

[2021-04-25 11:06] junsukim1994 opened #256 "Build fails with message "Function produces expected type 'UIColor()'; did you mean to call it with '()'?""
Build fails with message "Function produces expected type 'UIColor()'; did you mean to call it with '()'?" in Xcode 12, Swift 5. Anyone having similar issue? Is this library no longer supported?

[2021-06-03 05:49] rahul-apple commented on #256
@jun784lr  Hi I am having the same issue. Did you resolve the issue?